<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute %>
  <% if field.resource.class.to_s.downcase == "event" && [:start_time, :end_time].include?(field.attribute) %>
    <p class="field-unit__hint">MM/DD/YYYY HH:MM AM/PM, e.g. 03/21/2025 2:30 PM</p>
  <% end %>
</div>
