<h1>Editing Application Failover</h1>

<%= render 'form', application_failover: @application_failover %>

<%= link_to 'Show', @application_failover %> |
<%= link_to 'Back', application_failovers_path %>
