<% unless @service.related_groups.blank? %>

<div class="card ctaLast">
  <div class="card-title">
    Groups
  </div>
  <div class="card-body">
    <ul class="unstyled">
      <% @service.related_groups.sort_by{|s| s.name}.each do |group| %>
        <li><%= link_to group.name, group %></li>
      <% end %>
    </ul> 
  </div>
</div>

<% end %>