<% unless @service.related_spaces.blank? %>

<div class="card ctaLast">
  <div class="card-title">
    Spaces
  </div>
  <div class="card-body">
    <ul class="unstyled">
      <% @service.related_spaces.sort_by{|s| s.name}.each do |space| %>
        <li><%= link_to space.name, space %></li>
      <% end %>
    </ul> 
  </div>
</div>

<% end %>