<% unless @service.related_policies.blank? %>

<div class="card ctaLast">
  <div class="card-title">
    Policies
  </div>
  <div class="card-body">
    <ul class="unstyled">
      <% @service.related_policies.sort_by{|s| s.name}.each do |policy| %>
        <li><%= link_to policy.name, policy %></li>
      <% end %>
    </ul> 
  </div>
</div>

<% end %>