<div class="row" id="seagreen">
  <div class="col-11 offset-1">
    <h1>
      Services
    </h1>
  </div>
</div>

<div class="container">

	<% unless @services.nil? %>
		<ul>
    <% @services.each do |service| %>
      <li><%= link_to service.title, service %></li>
   	<% end %>
    </ul>
	<% end %>

</div>