<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    Services
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Services</span></h2>
    </div>
  </div>
</div>

<div class="container">

	<% unless @services.nil? %>
		<ul>
    <% @services.each do |service| %>
      <li><%= link_to service.title, service %></li>
   	<% end %>
    </ul>
	<% end %>

</div>