<div class="row" style="margin-top: 21px;">
	<div class="col">
		<h1 class="page-title">WPVI News Footage Collection</h1>

		<div class="row">
			<div class="col">
				<div id="videoSearchBar">
					<div id="wpvi-text" style="text-align: left;">
						<ol class="indented">
							<li>This video collection is only accessible in the Special Collections Research Center's reading room, in the Paley Library.</li>
							<li>For more information about this collection please see the <a href="/scrc/wpvi-news-footage-and-logs" class="inline">finding aid</a> (Series 2, Accession B)</li>
							<li>When searching the collection, do not use truncation/wildcard symbol (*) or quotation marks (""), and please be patient. Due to the large number of files, searching and loading will be gradual.</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
		    <form action="/wpvi/search" method="GET">
	        <label class="sr-only" for="videosearchterm">Search all WPVI videos:</label>
	        <input type="text" id="videosearchterm" name="q" size="30" maxlength="128" value="">
	        <input type="submit" id="videosearchbutton" value="Search">
		    </form>
			</div>
		</div>
		<hr style="margin-top: 28px;" />
	</div>
</div>