<div class="field-unit__label">
  <%= f.label field.attribute, for: "#{f.object_name}_#{field.attribute}" %> <p class="h-one"></p>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute %>
  <p class="text-muted"><%= t("manifold.default.fields.hours") %></p>
</div>