<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<span class="required-input" title="Required Field">*</span>
<div class="field-unit__field">
  <%= f.telephone_field field.attribute, placeholder: 'xxx-xxx-xxxx', value: number_to_phone(field.data) %>
</div>
