<div class="row p-0 m-0">
  <div class="col">
    <span>
      <p class="contact-link-heading">
        <%= link_to t("manifold.webpages.contact.special_collections_html"), t("manifold.webpages.contact.special_collections_link") %>
      </p>
    </span>
  </div>
</div>

<div class="row p-0 m-0">
  <div class="col p-0 m-0 text-end">
    <%= image_tag("contact-scrc.png", class: "d-block decorative float-end", style: "width: 49px;", alt: "") %>
  </div>
</div>
