<div class="row p-0 m-0">
  <div class="col">
    <span>
      <p class="contact-link-heading">
        <%= link_to t("manifold.webpages.contact.search_faqs_html"), "/libanswers" %>
      </p>
    </span>
  </div>
</div>

<div class="row p-0 m-0">
  <div class="col p-0 m-0 text-end">
    <%= image_tag("contact-faqs.png", class: "d-block decorative float-end", style: "width: 49px;") %>
  </div>
</div>
