<%= render_as_phone_link_on_mobile(number: "215-204-8212", link_content: phone_icon) %>
<h2>Call</h2>
<p>
<%= render_as_phone_link_on_mobile(number: "215-204-8212") %>
<br />Other <%= link_to "Frequently Called Numbers", "/numbers" %></p>
