<div class="row p-0 m-0">
  <div class="col">
    <span>
      <p class="contact-link-heading">
        <%= link_to t("manifold.webpages.contact.feedback_html"), "/suggestions" %>
      </p>
    </span>
  </div>
</div>

<div class="row p-0 m-0">
  <div class="col p-0 m-0 text-end">
    <%= image_tag("contact-feedback.png", class: "d-block decorative float-end", style: "width: 49px;", alt: "") %>
  </div>
</div>
