<h2>
  <%= image_tag "email.png", class: "category-icon decorative", alt: "" %>
	<br /><%= t("manifold.webpages.contact.email_label") %>
</h2>

<p><%= t("manifold.webpages.contact.email_text") %> <%= mail_to "asktulibrary@temple.edu" %></p>
