<% unless @building.collections.nil? %>
<div class="collections-responsive">

  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h2><span>Collections</span></h2>
      </div>
    </div>
  </div>


  <% @building.collections.each do |collection| %>
    <div class="row policy">
      <div class="col-12 text-center">
        <%= link_to collection.name, collection %>
      </div>
    </div>
  <% end %>


</div>
<% end %>