<% unless @building.spaces.nil? %>
<div class="responsive">
  <div class="spaces-info">

    <div class="row">
      <div class="col">
        <div class="vertical-stripes-sm">
          <h2><span>Spaces</span></h2>
        </div>
      </div>
    </div>

    <% @building.spaces.each do |space| %>
      <div class="row space">
        <div class="col-12 text-center">
          <%= link_to space.name, space %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<% end %>