<%= link_to (image_tag "profile.png", class: "category-icon decorative"), people_path %>
			<h2><%= link_to "Staff Directory", people_path %></h2>
			<p><%= link_to "Find your subject librarian", people_path(specialists: true) %>, make an appointment, or contact another library staff member.</p>
