<%= link_to (image_tag "newspaper.png", class: "category-icon"), controller: "pages", action: "show", id: 13 %>
			<h2><%= link_to "Email", controller: "pages", action: "show", id: 13 %></h2>
			<p>Email us your question at <%= mail_to "asktulibrary@temple.edu" %></p>