<%= link_to @form_link do %>
	<h2>
		<%= image_tag "email.png", class: "category-icon decorative" %>
		<br />Email
	</h2>
<% end %>

<p>Email us your question at <%= mail_to "asktulibrary@temple.edu" %></p>
