<p>
	Temple University Libraries Staff and Registered Student Organizations may place a request for one (1) six foot table and two (2) chairs in the foyer of Charles Library at the Liacouras Walk entrance. Requests must be placed at least two (2) days in advance and are subject to review, and all requests will be prioritized on a first come, first serve basis.
</p>
<p>
	For Registered Student Organizations (RSOs): the tabling period should not exceed two (2) hours and must be specified in the request, with one (1) group per tabling session. Displays on the table may not involve electrical power or running water, and the table may not be moved or relocated. RSOs are responsible for any damage to the table and chairs sustained during use, and any use in violation of the library code of conduct will result in termination of the agreement.
</p>