<% if @webpage.items.any? { |item| item.file_upload.file.content_type == "application/pdf" } %>
  <ul class="list-unstyled">
  <% @webpage.items.each do |item| %>
    <% if item.file_upload.file.content_type == "application/pdf" %>
      <li class="press-button text-center">
        <%= link_to "#{item.file_upload.name} -- View PDF", url_for(item.file_upload.file), disposition: "attachment" %>
      </li>
    <% end %>
  <% end %>
  </ul>
<% end if @webpage.items.present? %>

