<% if @webpage.document.attached? %>
  <h2>File</h2>
    <% if @webpage.document.previewable? %>
      <%= link_to (image_tag @webpage.document.preview(resize: "200x200>", extent: "150x150"), class: "decorative", alt: ""), url_for(@webpage.document), disposition: "attachment" %>
    <% end %>
      <p>
        <%= link_to @webpage.document.filename.base, url_for(@webpage.document), disposition: "attachment" %>
      </p>
<% end %>
