<div class="covid-alert text-center text-lg-left">
  <strong><%= t("manifold.default.covid_alert") %></strong>
  <%= link_to @header_alert.scroll_text.truncate(55, separator: ' ', omission: ''), @header_alert.link %>
</div>