<% if items.present? %>
  <div class="row non-featured-publications">
  <% if items.is_a? Array %>
    <% items.each do |item| %>
      <%= render "attachment", item: item %>
    <% end %>
  <% else %>
    <%= render "attachment", item: items %>
  <% end %>
  </div>
<% end %>


