<div class="mt-4 temple-library-tutorial">
  <iframe width="850px" height="650px" aria-label="<%= @webpage.label %> tutorial" src="https://alt.library.temple.edu/tutorials/<%= @webpage.tutorial_path %>"></iframe>
</div>
