<div class="mt-4 temple-library-tutorial">
  <iframe width="850px" height="650px" style="max-width: 100%;" src="https://alt.library.temple.edu/tutorials/<%= @webpage.tutorial_path %>"></iframe>
</div>
