<div id="virtual-tour">
  <iframe src="<%= @webpage.virtual_tour %>" name="TOUR NAME" 
          width="100%" height="100%" frameborder="0" allowfullscreen="true" 
          allow="fullscreen; accelerometer; gyroscope; magnetometer; vr; camera; microphone">
  </iframe>
</div>
