<div class="container mt-3" id="videos-index">

<div class="row">
	<div class="col text-center my-2">
		<h1 class="page-title">
      <p class="pb-2"><%= link_to t("manifold.webpages.videos.page_title"), webpages_videos_all_path %> </p>
      <hr />
      <p class="pt-2"><%= @playlist_title %></p>
    </h1>
  </div>
</div>

	<div class="row pb-5 mt-4">
		<div class="col">
			<div class="text-center">
        <iframe src=<%= "https://temple.hosted.panopto.com/Panopto/Pages/Embed.aspx?pid=#{ @playlist_id }&autoplay=false&offerviewer=false&showtitle=true&showbrand=false&captions=false&interactivity=none" %> height="740px" width="90%" style="border: 1px solid #464646;" allowfullscreen allow="autoplay"></iframe>
		  </div>
		</div>
	</div>

</div>
