<div class="container">
	<div class="row" style="margin-top: 21px;">
	<div class="col">
		<h1><%= t("manifold.webpages.wpvi.page_title") %></h1>
		<%= t("manifold.webpages.wpvi.intro_html") %>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<div id="pl-wrapper-9BC7X2yalkqAojQ-TWXMbg" style="position: relative; padding-bottom: 56.25%; padding-top: 132px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
			<iframe id="ensembleFrame_9BC7X2yalkqAojQ-TWXMbg" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/5fbb10f4-9a6c-4a96-80a2-343e4d65cc6e/Plugin?isPreview=false&layout=Grid&sortBy=DateAdded&desc=true&search=&categories=&resultsCount=&featuredContentId=0d7f96c6-9a3c-4806-a746-264fb04e7e79&useCustomStyle=true&displayTitle=true&displayLogo=false&displayEmbedCode=false&displayAttachments=false&displayAnnotations=false&displayLinks=false&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
			<script type="text/javascript">function handleResize() { var e = document.getElementById("pl-wrapper-9BC7X2yalkqAojQ-TWXMbg"); if (null != e) { var i = e.getElementsByTagName("iframe")[0]; if (null != i) { e.style = "width: 100%; height: 100%;"; i.style = "width: 100%; height: 100%;"; var n = e.offsetWidth; e.style.height = n >= 400 ? 56.25 * n / 100 + 140 + "px" : 56.25 * n / 100 + 390 + "px" }}} handleResize(), window.onresize = function (e) { handleResize() };</script>
		</div>
	</div>
</div>
</div>