<div class="container">
	<div class="row" style="margin-top: 21px;">
	<div class="col">
		<h1><%= t("manifold.webpages.wpvi.page_title") %></h1>
		<%= t("manifold.webpages.wpvi.intro_html") %>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<iframe id="ensembleFrame_jU380Gd-j0yJuJiR3hWlgQ" src="https://ensemble.temple.edu/app/plugin/embed.aspx?DestinationID=jU380Gd-j0yJuJiR3hWlgQ&playlistEmbed=true&isNewPluginEmbed=true&displayTitle=true&orderBy=videoTitle&orderByDirection=asc&displayEmbedCode=false&displayAttachments=false&displayAnnotations=false&displayLinks=false&displayCredits=false&displayDateProduced=false&displayCaptionSearch=false" frameborder="0" style="width: 800px; height : 1000px;" height="1000" width="800" allowfullscreen></iframe>
	</div>
</div>
</div>