<div class="container">

  <div class="row" style="margin-top: 21px;">
    <div class="col">
      <h1><%= t("manifold.webpages.wpvi.page_title") %></h1>
      <%= t("manifold.webpages.wpvi.intro_html") %>
    </div>
  </div>

  <div class="nav nav-tabs my-4" style=font-size:150%;" id="nav-tabs">
    <a class="nav-item nav-link px-4" id="nav-sec21a-tab" data-toggle="tab" role="tab" aria-controls="nav-sec21a" aria-selected="true" href="#sec21a-tab">
      Subseries 2-1 (1977-1995)
    </a>
    <a class="nav-item nav-link px-4" id="nav-sec21b-tab" data-toggle="tab" role="tab" aria-controls="nav-sec21b" aria-selected="true" href="#sec21b-tab">
      Subseries 2-1 (1996-2006)
    </a>
    <a class="nav-item nav-link px-4" id="nav-sec22-tab" data-toggle="tab" role="tab" aria-controls="nav-sec22" aria-selected="true" href="#sec22-tab">
      Subseries 2-2
    </a>
    <a class="nav-item nav-link px-4" id="nav-sec23-tab" data-toggle="tab" role="tab" aria-controls="nav-sec23" aria-selected="true" href="#sec23-tab">
      Subseries 2-3
    </a>
  </div>

  <div class="tab-pane fade show" id="sec21a-tab" role="tabpanel" aria-labelledby="nav-sec21a-tab">
    <div class="row">
      <div class="col text-center">
        <div id="pl-wrapper-c48DJrZt2kay-TDvzIavww" style="position: relative; padding-bottom: 56.25%; padding-top: 400px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
          <iframe id="ensembleFrame_c48DJrZt2kay-TDvzIavww" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/26038f73-6db6-46da-b2f9-30efcc86afc3/Plugin?isPreview=false&layout=Grid&sortBy=Name&desc=false&search=&categories=&resultsCount=&displayTitle=true&displayLogo=false&displayComments=false&displayEmbedCode=false&displayAttachments=false&displayNotes=false&displayLinks=false&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade show" id="sec21b-tab" role="tabpanel" aria-labelledby="nav-sec21b-tab">
    <div class="row">
      <div class="col text-center">
        <div id="pl-wrapper-3jTmOB7U7k--zSUVA14o3g" style="position: relative; padding-bottom: 56.25%; padding-top: 400px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
          <iframe id="ensembleFrame_3jTmOB7U7k--zSUVA14o3g" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/38e634de-d41e-4fee-becd-2515035e28de/Plugin?isPreview=false&layout=Grid&sortBy=Name&desc=false&search=&categories=&resultsCount=&displayTitle=false&displayLogo=false&displayComments=false&displayEmbedCode=false&displayAttachments=false&displayNotes=false&displayLinks=true&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade show" id="sec22-tab" role="tabpanel" aria-labelledby="nav-sec22-tab">
    <div class="row">
      <div class="col text-center">
        <div id="pl-wrapper-IhN56Ofh7kW07tFo3mtbxA" style="position: relative; padding-bottom: 56.25%; padding-top: 400px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
          <iframe id="ensembleFrame_IhN56Ofh7kW07tFo3mtbxA" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/e8791322-e1e7-45ee-b4ee-d168de6b5bc4/Plugin?isPreview=false&layout=Grid&sortBy=Name&desc=false&search=&categories=&resultsCount=&displayTitle=false&displayLogo=false&displayComments=false&displayEmbedCode=false&displayAttachments=false&displayNotes=false&displayLinks=true&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade show" id="sec23-tab" role="tabpanel" aria-labelledby="nav-sec23-tab">
    <div class="row">
      <div class="col text-center">
        <div id="pl-wrapper-pOLwweWs1E-ELisytIuyyQ" style="position: relative; padding-bottom: 56.25%; padding-top: 400px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
          <iframe id="ensembleFrame_pOLwweWs1E-ELisytIuyyQ" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/c1f0e2a4-ace5-4fd4-842e-2b32b48bb2c9/Plugin?isPreview=false&layout=Grid&sortBy=Name&desc=false&search=&categories=&resultsCount=&displayTitle=false&displayLogo=false&displayComments=false&displayEmbedCode=false&displayAttachments=false&displayNotes=false&displayLinks=true&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

</div>