<div class="container">

  <div class="row" style="margin-top: 21px;">
    <div class="col">
      <h1><%= t("manifold.webpages.wpvi.page_title") %></h1>
      <%= t("manifold.webpages.wpvi.intro_html") %>
    </div>
  </div>

  <div class="nav nav-tabs my-4" style=font-size:150%;" id="nav-tabs">
    <a class="nav-item nav-link px-4" id="nav-sec21a-tab" data-toggle="tab" role="tab" aria-controls="nav-sec21a" aria-selected="true" href="#sec21a-tab">
      Subseries 2-1 (1977-1994)
    </a>
    <a class="nav-item nav-link px-4" id="nav-sec21b-tab" data-toggle="tab" role="tab" aria-controls="nav-sec21b" aria-selected="true" href="#sec21b-tab">
      Subseries 2-1 (1995-2006)
    </a>
    <a class="nav-item nav-link px-4" id="nav-sec22-tab" data-toggle="tab" role="tab" aria-controls="nav-sec22" aria-selected="true" href="#sec22-tab">
      Subseries 2-2
    </a>
    <a class="nav-item nav-link px-4" id="nav-sec23-tab" data-toggle="tab" role="tab" aria-controls="nav-sec23" aria-selected="true" href="#sec23-tab">
      Subseries 2-3
    </a>
  </div>

  <div class="tab-pane fade show" id="sec21a-tab" role="tabpanel" aria-labelledby="nav-sec21a-tab">
    <div class="row">
      <div class="col text-center">
        <div id="pl-wrapper--mzSSlnszkm563QK8tlQ9w" style="position: relative; padding-bottom: 56.25%; padding-top: 400px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
          <iframe id="ensembleFrame_-mzSSlnszkm563QK8tlQ9w" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/4ad26cfa-ec59-49ce-b9eb-740af2d950f7/Plugin?isPreview=false&layout=Grid&sortBy=Name&desc=false&search=&categories=&resultsCount=&displayTitle=true&displayLogo=false&displayComments=false&displayEmbedCode=false&displayAttachments=false&displayNotes=false&displayLinks=false&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade show" id="sec21b-tab" role="tabpanel" aria-labelledby="nav-sec21b-tab">
    <div class="row">
      <div class="col text-center">
        <div id="pl-wrapper-ZtBklM3vp0GXK8QTficTFg" style="position: relative; padding-bottom: 56.25%; padding-top: 400px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
          <iframe id="ensembleFrame_ZtBklM3vp0GXK8QTficTFg" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/9464d066-efcd-41a7-972b-c4137e271316/Plugin?isPreview=false&layout=Grid&sortBy=Name&desc=false&search=&categories=&resultsCount=&displayTitle=false&displayLogo=false&displayComments=false&displayEmbedCode=false&displayAttachments=false&displayNotes=false&displayLinks=false&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade show" id="sec22-tab" role="tabpanel" aria-labelledby="nav-sec22-tab">
    <div class="row">
      <div class="col text-center">
        <div id="pl-wrapper-VzKwLygUT0Wo_PMB2uN_3A" style="position: relative; padding-bottom: 56.25%; padding-top: 400px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
          <iframe id="ensembleFrame_VzKwLygUT0Wo_PMB2uN_3A" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/2fb03257-1428-454f-a8fc-f301dae37fdc/Plugin?isPreview=false&layout=Grid&sortBy=Name&desc=false&search=&categories=&resultsCount=&displayTitle=false&displayLogo=false&displayComments=false&displayEmbedCode=false&displayAttachments=false&displayNotes=false&displayLinks=false&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade show" id="sec23-tab" role="tabpanel" aria-labelledby="nav-sec23-tab">
    <div class="row">
      <div class="col text-center">
        <div id="pl-wrapper-dl_1m0e950OPYMoMCoM6zg" style="position: relative; padding-bottom: 56.25%; padding-top: 400px; height: 0; overflow: auto; -webkit-overflow-scrolling: touch;">
          <iframe id="ensembleFrame_dl_1m0e950OPYMoMCoM6zg" src="https://ensemble.temple.edu/hapi/v1/ui/Playlists/9bf55f76-bd47-43e7-8f60-ca0c0a833ace/Plugin?isPreview=false&layout=Grid&sortBy=Name&desc=false&search=&categories=&resultsCount=&displayTitle=false&displayLogo=false&displayComments=false&displayEmbedCode=false&displayAttachments=false&displayNotes=false&displayLinks=false&displaySharing=false&displayCopyUrl=false&autoplay=false&showCaptions=false&displayMetaData=false&displayCaptionSearch=false&audioPreviewImage=false&displayViewersReport=false&displayAxdxs=false&isResponsive=true" frameborder="0" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

</div>