<% unless field.resource.class.to_s == "Service" || 
   field.resource.class.to_s == "Policy" || 
   field.resource.class.to_s == "ActiveStorage::Blob" %>
	<ul class="has-many-list">
	<% field.data.each do |category| %>
		<li><%= category.label %></li>
	<% end %>
	</ul>
<% else %>
  <% unless field.resource.class.to_s == "ActiveStorage::Blob" %>
	  <%= field.data.take.label if field.data.take.present? %>
  <% else %>
	  <%= field.resource.filename.to_s %>
  <% end %>
<% end %>