<% draft_field_name = "draft_" + field.attribute.to_s %>
<div class="field-unit__label">
  <%= f.label "#{draft_field_name.titleize}" %>
</div>
<div class="field-unit__field">
  <%= f.text_area draft_field_name.to_sym %>
</div>
