<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field field-draft">
  <%= f.text_field draft_name(field) %>
</div>
<div class="field-unit__field field-published field-text"
     id="<%= fieldname_in_draft(@requested_resource, field) %>">
  <%= field.data.sanitize.html_safe unless field.data.nil?%>
</div>
