<div class="field-unit__label">
    <%= f.label field.attribute %>
	<% if field.resource.class.to_s == "Space" %>
	  <p class="h-one-half"></p>
	<% end %>
</div>
<div class="field-unit__field">
  <%= f.telephone_field field.attribute, placeholder: 'xxx-xxx-xxxx', value: number_to_phone(field.data) %>
	<% if field.resource.class.to_s == "Space" %>
	 <p><%= t("manifold.default.fields.phone") %></p>
	<% end %>
</div>
