<div class="field-unit__label">
    <%= f.label field.attribute %>
	<% if field.resource.class.to_s == "Space" %>
	  <p class="h-one-half"></p>
	<% end %>
</div>
<div class="field-unit__field">

  <%= f.telephone_field field.attribute, field.html_attributes.merge({minlength: "10", placeholder: 'xxx-xxx-xxxx', value: (phone_formatted(field.data) if field.data.present?)}) %>
	<% if field.resource.class.to_s == "Space" %>
	 <p><%= t("manifold.default.fields.phone") %></p>
	<% end %>
</div>
