<div class="field-unit__label">
    <%= f.label field.attribute %>
	<% if field.resource.class.to_s == "Space" %>
	  <p style="height:1.5rem"></p>
	<% end %>
</div>
<div class="field-unit__field">
  <%= f.telephone_field field.attribute, placeholder: 'xxx-xxx-xxxx', value: number_to_phone(field.data) %>
	<% if field.resource.class.to_s == "Space" %>
	 <p>If left blank, phone number from related building will be displayed.</p>
	<% end %>
</div>
