<div class="field-unit__label">
  <label for="person_springshare_id"><%= t("manifold.default.fields.springshare_id.label") %></label>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute %>
</div>
