<h1>Exhibitions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Title</th>
      <th>Start date</th>
      <th>End date</th>
    </tr>
  </thead>

  <tbody>
    <% @exhibitions.each do |exhibition| %>
      <tr>
        <td colspan="3"><%= exhibition.title %></td>
        <td><%= exhibition.start_date %></td>
        <td><%= exhibition.end_date %></td>
        <td><%= link_to 'Show', exhibition %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


