<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <% @space = (field.data.respond_to? :id) ? Space.find_by("id = ?", field.data.id) : nil; %>

  <% unless @space.nil? %>
		<%= f.collection_select :spaces, Space.order(:name), :id, :name, selected: @space.id ? @space.id : 0, include_blank: true %>
		<% else %>
			<%= f.collection_select :spaces, Space.order(:name), :id, :name, selected: 0, include_blank: true %>
		<% end %>
</div>
