<div class="row" id="seagreen">
  <div class="col-11 offset-1">
    <h1>
      Spaces
    </h1>
  </div>
</div>

<div class="container">

<% unless @spaces.nil? %>
	<ul>
  <% @spaces.each do |space| %>
  	<li>
    	<%= link_to space.name, space %>
  	</li>
	<% end %>
	</ul>
<% end %>

</div>
