<h1>Spaces</h1>
<p id="notice"><%= notice %></p>

<% unless @spaces.nil? %>
    <% @spaces.each do |space| %>
      <p>
        <%= link_to space.name, space %>
      </p>
    <% end %>
<% end %>
<br>



