<h1><%= title "Blog Posts" %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_posts.each do |blog_post| %>
      <tr>
        <td><%= blog_post.title %></td>
        <td><%= blog_post.author %></td>
        <td><%= link_to 'Show', blog_post %></td>
    <% end %>
  </tbody>
</table>
