---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1IXyE2EgREGvxpVBz_qcDlQovQ-w3BJOgUCfwz8bBtqI/values/A2:Q?key=<gsheets_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "Hours!A2:Q1258",
          "majorDimension": "ROWS",
          "values": [
            [
              "Wednesday, May 8, 2024",
              "8:00 am - 6:00 pm",
              "8:00 am - 6:00 pm",
              "8:00 am - 5:00 pm",
              "8:30 am - 5:30 pm",
              "8:30 am - 5:00 pm",
              "8:30 am - 8:30 pm",
              "24 hours",
              "8:00 am - 5:45 pm",
              "9:00 am - 5:45 pm",
              "9:00 am - 5:00 pm",
              "9:00 am - 5:00 pm",
              "8:00 am - 9:00 pm",
              "9:00 am - 10:00 p[...]
