---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1IXyE2EgREGvxpVBz_qcDlQovQ-w3BJOgUCfwz8bBtqI/values/TESTING!A2:A?key=<gsheets_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "TESTING!A2:A1052",
          "majorDimension": "ROWS",
          "values": [
            [
              "Monday, August 28, 2023"
            ],
            [
              "Tuesday, August 29, 2023"
            ],
            [
              "Wednesday, August 30, 2023"
            ],
            [
              "Thursday, August 31, 2023"
            ],
            [
              "Friday, September 1, 2023"
            ],
            [
              "Saturday, September 2, 2023"
            ],
            [
              "Sunday, September 3, 2023"
            ],
[...]
