---
http_interactions:
- request:
    method: post
    uri: https://temple.hosted.panopto.com/Panopto/oauth2/connect/token
    body:
      encoding: UTF-8
      string: scope=api&grant_type=client_credentials
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<redacted>","expires_in":3600,"token_type":"Bearer"}'
  recorded_at: Thu, 26 Oct 2023 18:20:42 GMT
- request:
    method: get
    uri: https://temple.hosted.panopto.com/Panopto/api/v1/sessions/0c88baab-6157-4ecd-b50d-b0a6010ea02e/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - '1'
    body:
      encoding: UTF-8
      string: '{"Description":"Episode 14: Thai folding book manuscript on curing
        diseases, 19th century CE\nHosted by Daniel Cappello\nRelease date: October
        16, 2023 \n \nAbout this episode of A Look at a Book \n \nAbout the host:\nDaniel
        Cappello (he/him) is an MFA student in Sculpture at the Tyler School of Art
        and Architecture, Temple University.\n\nLink: \nThai folding book manuscripts
        (ca. 19th century CE)\nhttps://librarysearch.temple.edu/catalog/991020700349703811\n\n*To
        consult these items (or any Special Collection Research Center materials)
        in-person in the SCRC reading room in Charles Library, please visit our website:
        library.temple.edu/scrc to learn more and to create a SCRC Researcher Account
        or contact us directly at scrc@temple.edu.","StartTime":null,"Duration":1467.605,"MostRecentViewPosition":null,"CreatedBy":{"Id":"9034880a-e21e-43bd-b653-ad8601289eb0","Username":"unified\\tue81531@temple.edu"},"Urls":{"ViewerUrl":"https://temple.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=0c88baab-6157-4ecd-b50d-b0a6010ea02e","EmbedUrl":"https://temple.hosted.panopto.com/Panopto/Pages/Embed.aspx?id=0c88baab-6157-4ecd-b50d-b0a6010ea02e&v=1","ShareSettingsUrl":"https://temple.hosted.panopto.com/Panopto/Pages/Sessions/List.aspx?id=0c88baab-6157-4ecd-b50d-b0a6010ea02e&modalPage=SessionShare","DownloadUrl":"https://temple.hosted.panopto.com/Panopto/Podcast/Download/0c88baab-6157-4ecd-b50d-b0a6010ea02e.mp4?mediaTargetType=videoPodcast","CaptionDownloadUrl":null,"EditorUrl":"https://temple.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=0c88baab-6157-4ecd-b50d-b0a6010ea02e&edit=true","ThumbnailUrl":"https://d2y36twrtb17ty.cloudfront.net/sessions/dd75e45b-e8ff-42c2-8c48-b0a6010ea024/bc7f27e9-6290-4696-b8a5-b0a601143ab6_et/thumbs/slide0.jpg"},"Folder":"e2753a7a-85c2-4d00-a241-aecf00393c25","FolderDetails":{"Id":"e2753a7a-85c2-4d00-a241-aecf00393c25","Name":"Library-Programs"},"PercentCompleted":null,"Id":"0c88baab-6157-4ecd-b50d-b0a6010ea02e","Name":"A
        Look At A Book: Thai folding book manuscript on curing diseases, 19th century
        CE"}'
  recorded_at: Thu, 26 Oct 2023 18:20:42 GMT
recorded_with: VCR 6.2.0
