---
http_interactions:
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1IXyE2EgREGvxpVBz_qcDlQovQ-w3BJOgUCfwz8bBtqI/values:batchGet?key=<gsheets_key>&majorDimension=ROWS&ranges=E2:E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1IXyE2EgREGvxpVBz_qcDlQovQ-w3BJOgUCfwz8bBtqI",
          "valueRanges": [
            {
              "range": "Hours!A2:A1258",
              "majorDimension": "ROWS",
              "values": [
                [
                  "Wednesday, May 8, 2024"
                ],
                [
                  "Thursday, May 9, 2024"
                ],
                [
                  "Friday, May 10, 2024"
                ],
                [
                  "Saturday, May 11, 2024"
                ],
                [
                  "Sunday, May 12, 2024"
                ],
                [
                  "Monday, May 13, 2024"
                ],
                [
      [...]
