<li><strong>EMERGENCY</strong> -&nbsp; call <strong>1-1234</strong>&nbsp;</span>&nbsp; &nbsp;[Temple Campus Police 215-204-1234]</li>
<li>If this incident involves injury to Library staff or student assistant, a Worker’s Compensation form needs to be filled out also.</li>
