
<% if @group.documents.attached? %>
  <div class="container">
    <div class="row">
      <div class="col-1">
        <p><strong>Documentation: </strong></p>
      </div>
      <% @group.documents.each do |document| %>
      <div class="col-12 col-lg-3 text-center">
      <% if document.previewable? %>
        <%= image_tag document.preview(resize: "200x200>", extent: "150x150") %>
      <% end %>
        <p>
          <%= link_to document.filename.base, url_for(document), disposition: "attachment" %>
        </p>
      </div>
    <% end %>
  </div>
</div>
<% end %>
