<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    Groups
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Groups</span></h2>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
	<div class="col">
<% unless @groups.nil? %>
<ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group %></li>
  <% end %>
</ul>
<% end %>
</div>
</div>
</div>
