<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    Groups
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Departments</span></h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
  	<div class="col">
      <% unless @departments.nil? %>
      <div class="row servicesRow">
        <% @departments.each do |department| %>
        <div class="col-sm-12 col-md-5 offset-md-1">
          <div class="group">
            <%= link_to department.name, group_path(department) %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Cross-Departmental Teams</span></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <% unless @teams.nil? %>
      <div class="row servicesRow">
        <% @teams.each do |team| %>
        <div class="col-sm-12 col-md-5 offset-md-1">
          <div class="group">
            <%= link_to team.name, group_path(team) %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>