<% unless @space.related_services.nil? %>
<div class="services-responsive">

  <div class="row">
    <div class="col">
      <div class="vertical-stripes-sm">
        <h2><span>Services</span></h2>
      </div>
    </div>
  </div>


  <% @space.related_services.each do |service| %>
    <div class="row service">
      <div class="col-12 text-center">
        <%= link_to service.title, service %>
      </div>
    </div>
  <% end %>


</div>
<% end %>