<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    Hours
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="vertical-stripes">
      <h1><span>Locations and Services Hours</span></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <% @all_hours.each do |location| %>
      <% binding.pry %>
      <% unless location_name(location.first.first).nil? %>
      <h2><%= location_name(location.first.first)  %></h2>
      
      <ul>
        <% unless location_name(location.first.first).nil? %>
          <% location.first.second.each do |hours| %>
            <li>
              <%= hours.date %>, <%=hours.hours %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% end %>
      <% end %>
    </div>
  </div>
</div>
