<div class="row" id="seagreen">
  <div class="col-11 offset-1">
    <h1>
      Locations and Services Hours
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <ul>
        <% @locations.each do |location| %>
          <li>
            <%= link_to location_name(location), root_path+"hours/"+location %>

          </li>
        <% end %>
        </ul>
    </div>
  </div>
</div>
