<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %> 
    Hours
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Locations and Services Hours</span></h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <ul>
        <% @locations.each do |location| %>
          <li>
            <%= link_to location_name(location), root_path+"hours/"+location %>
          </li>
        <% end %>
        </ul>
    </div>
  </div>
</div>
