<%# binding.pry %>
<div class="row current-week">
	<% @buildings.each do |location| %>
  <% if location[:slug] == @location %>

  <div class="row"> <!-- dates header -->
    <div class="col-3"></div>
      <% 7.times do |date| %>
      <% if @monday+date == @today %>
        <div class="col hours-dates today day-of-week text-center">
      <% else %>
        <div class="col hours-dates text-center">
      <% end %>
          <%= (@monday+date).strftime("%a %d") %> 
        </div>
      <% end %>
   </div>

    <% unless location.values.second.first.second.empty? %>
    <% location.values.second.each do |hours| %>
        <div class="row" style="margin-top: 14px;"> <!-- spaces -->
          <div class="col-3 text-right"> 
            <h3>
              <%= location_name(hours.second.first.location_id) %>
            </h3>
          </div>
            <% hours.second.each_with_index do |time,index| %> <!-- hours -->
              <% if @monday+index == @today %>
                <div class="col today">
                <% else %>
                <div class="col">
              <% end %>
              <% if time.hours.downcase == "closed" %>
                <span class="closed"><%= time.hours %></span>
                <% else %>
                <%= time.hours %>
              <% end %>
              </div>
            <% end %>
        </div>
      <% end %>
    <% else %> <!-- unless -->
      <div class="row" style="margin-top: 14px;">
        <div class="col-12 text-center">
          <h3>No data for current date range</h3>
        </div>
      </div> 
    <% end %>

  <% end %>
<% end %>
</div>
