 <div style="font-size: 1.5rem;margin-bottom: 2.5rem;" class="text-center">(Faculty/Library Staff only)</div>
 <div style="line-height: 1.75rem;margin-left: 5%">
<p>When you recall a book, the person who has it checked out has two weeks to return it.&nbsp;</p>
<p>Try <a href="https://e-zborrow.relaisd2d.com/gateway/TEMPLE.html" style="text-decoration-line: underline; font-size: 14.4px;">E-ZBorrow</a>&nbsp;instead. Books generally arrive in three to five days.</p>
<p>One request per form. You must complete the form again for another request.</p>
<p>Only recall requests submitted by current Temple University staff and faculty will be reviewed.&nbsp;</p>
</div>
