<div style="font-size: 1.5rem;margin-bottom: 2.5rem;">(Faculty/Library Staff only)</div>
<div style="line-height: 1.15rem;">
	<p>When you recall a book, the person who has it checked out has two weeks to return it.</p>
	<p>Try <%= link_to "E-ZBorrow", "https://e-zborrow.relaisd2d.com/gateway/TEMPLE.html" %> instead. Books generally arrive in three to five days.</p>
	<p>One request per form. You must complete the form again for another request.</p>
	<p>Only recall requests submitted by current Temple University staff and faculty will be reviewed.</p>
</div>
