<div class="dropdown align-bottom">
  <button class="btn btn-secondary dropdown-toggle ps-0 w-100 ps-3 text-start" type="button"
  id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t("manifold.events.index.calendar") %>
  </button>
  <div class="dropdown-menu ps-2 w-100 pb-3" aria-labelledby="dropdownMenuButton">
    <%= render "dates" %>
  </div>
</div>