<% @exhibitions.each do |exhibit| %>
  <div class="exhibit mb-0">
    <%= link_to exhibit.title, exhibit, class: "exhibit_title" %>
    <span><%= exhibit.start_date.strftime("%^B %Y").titleize %> -  
    <%= exhibit.end_date.strftime("%^B %Y").titleize %></span>
    <% unless exhibit.space.nil? %>
    <br />
    <%= link_to exhibit.space.name, space_path(exhibit.space), class: "location" %>
    <% end %>
  </div>
<% end %>