<% @exhibitions.each do |exhibit| %>
<div class="row">
  <div class="col-11 offset-1 exhibit">
    <%= link_to exhibit.title, exhibit, class: "exhibit_title" %><br />
    <%= exhibit.start_date.strftime("%^B %Y").titleize %> -  
    <%= exhibit.end_date.strftime("%^B %Y").titleize %><br />
    <%= link_to exhibit.space.name, exhibit.space, class: "location" %>
  </div>
</div>
<% end %>