<ul class="list-unstyled" style="width: 100%;padding-left: 1rem;padding-right:1rem">
  
  <% unless action_name == "past" %>

    <li><%= link_to t("manifold.events.index.filters.none"), events_path(anchor: "list") %></li>
    <% @new_tags.each do |type| %>
      <li><%= link_to type, events_path(anchor: "list", type: type, page: 1) %></li>
    <% end %>

  <% else %>

    <li><%= link_to t("manifold.events.index.filters.none"), past_events_path(anchor: "list") %></li>
    <% @event_types.each do |type| %>
      <li><%= link_to type, past_events_path(anchor: "list", type: type, page: 1) %></li>
    <% end %>
  <% end %>

</ul>