<h2>
  <a style="cursor:pointer" data-toggle="collapse" data-target="#departments" aria-expanded="true" aria-controls="departments"> 
  	Department
  </a>
</h2>
	
  <ul class="list-unstyled navbar-collapse collapse show" id="subjects">
		<% @departments.each do |dept| %>
		<li><%= dept.name %></li>
		<% end %>
	</ul>
