<div class="leftside-index d-block d-md-block d-lg-none">
  <div class="panel-group">
    <div class="d-inline-block filter_subjects">
      <%= render "persons/filters/subjects" %>
    </div>
    <div class="d-inline-block filter_department">
      <%= render "persons/filters/department" %>
    </div>
  </div>
</div>