<% if @persons_list.present? %>
  <% @persons_list.each do |person| %>
    <%= render "persons", person: person %>
  <% end %>

  <div class="row text-center paginator">
    <div class="col">
      <%= paginate @persons_list %>
    </div>
  </div>

<% else %> <!-- unless -->
  <div class="row">
    <div class="col-12 text-center">
      <h3>
        <% if @specialist_search == true %>
          <%= t("manifold.people.no_specialists") %>
        <% else %>
          <%= t("manifold.people.no_results") %>
        <% end %>
      </h3>
    </div>
  </div>
<% end %>
