<% if @persons_list.present? || params[:q].present? %>
  <% @persons_list.each do |person| %>
    <%= render "persons", person: person %>
  <% end unless params[:q].present? %>

  <% if params[:q].present? %>
    <%= render "persons", person: person %>
  <% end %>

  <div class="row text-center paginator" style="border-left: solid white 14px;">
    <div class="col">
      <%= paginate @persons_list %>
    </div>
  </div>

<% else %> <!-- unless -->
  <div class="row" style="margin-top: 14px;">
    <div class="col-12 text-center">
      <h3><%= t("manifold.people.no_results") %></h3>
    </div>
  </div>
<% end %>
