<% if @persons_list.present? %>
  <% @persons_list.each do |person| %>
    <%= render "persons", person: person %>
  <% end %>

  <div class="row text-center paginator">
    <div class="col">
      <%= paginate @persons_list %>
    </div>
  </div>

<% else %> <!-- unless -->
  <div class="row" style="margin-top: 14px;">
    <div class="col-12 text-center">
      <h3><%= t("manifold.people.no_results") %></h3>
    </div>
  </div>
<% end %>
