<h2>
  <a style="cursor:pointer" data-toggle="collapse" data-target="#staff-type" aria-expanded="true" aria-controls="staff-type"> 
  	Staff Type 
  </a>
</h2>
	
<div class="navbar-collapse collapse show" id="staff-type">
  <ul class="list-unstyled">
		<li>Subject Librarians Only</li>
		<li>All Staff</li>
	</ul>
</div>



