<h2>Subject Specialty</h2>
<div style="height:21rem;overflow:scroll">
<ul class="list-unstyled">
	<% @subjects.each do |subject| %>
	<%# binding.pry %>
	<li><%= subject %></li>
	<% end %>
</ul>
</div>
