<div class="container person">

  <div class="row">
    <div class="col breadcrumbs">
      < <%= link_to t("manifold.people.show.breadcrumb"), people_path %>
    </div>
  </div>

  <div class="d-none d-md-block">
    <%= render "desktop" %>
  </div>

  <div class="d-block d-md-none">
    <%= render "mobile" %>
  </div>
</div>
