  <% if @collections.present? %>
  <div class="d-block d-lg-none filters">
    <% unless filter_tags_aids(@collections).empty? %>
      <% filter_tags_aids(@collections).each do |tag| %>
        <span class="filter-tag"><%= tag.html_safe %></span>
      <% end %>
      <% unless filter_tags_aids(@collections).size < 2 %>
        <%= link_to t("manifold.default.filters_reset"), finding_aids_path, class: "reset-filters" %>
      <% end %>
    <% end %>
  </div>
<% end %>
  <% if @aids_list.present? %>
   <div class="row aids">
    <% @aids_list.each do |aid| %>
      <div class="col-12 aid">
        <%= link_to aid.name.html_safe, finding_aid_path(aid), style: "color: black;" %>
      </div> 
    <% end %> 
    </div>
      
    <div class="row text-center paginator fa">
      <div class="col">
        <%= paginate @aids_list %>
      </div>
    </div>
    
  <% end %>
