<div class="panel-group" id="accordion">
  <div class="filter_collections">
    <%= render "collections" %>
  </div>
  <div class="filter_subjects">
    <%= render "subjects" %>
  </div>
  <div class="filter_reset">
    <%= render "reset" %>
  </div>
</div>