<h2>
  <a style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#subjects" aria-expanded="true" aria-controls="subjects"> 
  	<%= t("manifold.finding_aids.subjects_heading") %>
  </a>
</h2>

<ul class="list-unstyled navbar-collapse collapse show" id="subjects">
	<% subject_links(@subjects).each do |link| %>
		<%= link.html_safe %>
	<% end %>
</ul>
