<h2>
  <a style="cursor:pointer" data-toggle="collapse" data-target="#subjects" aria-expanded="true" aria-controls="subjects"> 
  	Subjects
  </a>
</h2>

  <ul class="list-unstyled navbar-collapse collapse show" id="subjects">
  	<% unless @subjects.nil? %>
	  	<% unless params[:subject].nil? %>
	  	
			<% @subjects.each do |subject| %>
		  	<% subjects = params[:subject].split(',') %>

				<% if params[:subject].include?(subject) %>

					<% subject_removed = subjects.reject{ |sub| sub == subject }.uniq.join(',') %>

					<li class="active"><%= subject %>
						<span class="clear-filter">
							<%= link_to "X", finding_aids_path(request.query_parameters.merge({subject: subject_removed, page: 1})) %>
						</span>
					</li>

				<% else %>

					<% subjects = subjects.split(',').push(subject).uniq.join(',') %>

					<li><%= link_to subject, finding_aids_path(request.query_parameters.merge({subject: subjects, page: 1})) %></li>

				<% end %>

			<% end %>

		<% else %>

			<% @subjects.each do |subject| %>

				<li>
					<%= link_to subject, finding_aids_path(request.query_parameters.merge({subject: subject, page: 1})) %>
				</li>

			<% end %>

		<% end %>

		<% end %>
	</ul>
