
<div class="row slideshow">
  <div class="col">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      <% @images.each_with_index do |image, index| %>
        <li data-target="#carouselIndicators" data-slide-to="<%= index %>"
          <% if index == 0 %> class="active"<% end %>>              
        </li>
      <% end %>
      </ol>
      <div class="carousel-inner" role="listbox" id="slide-image">
      <% @images.each_with_index do |image, index| %>  
        <div class="carousel-item text-center<% if index == 0 %> active<% end %>">
          <% if [0, 1, 2, 3].include?(index) %>
            <%= link_to image_tag("charles/"+image, class: 'img-fluid'), asset_path("charles/"+image), target: "_blank" %>
          <% else %>
            <%= image_tag("charles/"+image, class: 'img-fluid') %>
            <p class="image-caption">
              <%= @captions[index] %>
            </p>
          <% end %>
        </div>
        <% end %>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev" id="slide-previous">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next" id="slide-next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        </div>
      </div>
    </div>
  </div>
