<% content_for :body_class, "categories" %>

<div class="container" style="margin-top: 35px;">

	<div class="row">
		<% @categories.each do |category| %>

		<% unless category.categories.include?(category) %>

			<div class="col-12 col-md-6 col-lg-4 text-center">
				<% unless category.icon.attachment.nil? %>
					<%= link_to (image_tag category.icon, class: "category-icon"), category_path(category) %> 
				<% else %>
					<%= link_to (image_tag "T-borderless.gif"), category_path(category) %>
				<% end %>
				<h2><%= link_to category.name, category_path(category) %></h2>
				<p><%= category.description unless category.description.blank? %></p>
			</div>

			<% end %>

		<% end %>

	</div>

</div>
