<h2 class="dsc-links-title">
  <a style="cursor:pointer" data-toggle="collapse" data-target="#visit" aria-expanded="true" aria-controls="visit"> 
  	Visit & Study
  </a>
</h2>

<ul class="list-unstyled navbar-collapse collapse show" id="visit">
<% @visit_links.each do |link| %>
	<li><%= link_to link.label, link %></li>
<% end %>
</ul>
