<% @page.categories.each do |cat| %>
  <div class="leftside-index">

    <% unless @page.categories.size > 1 %>
      <div class="index-category">
    <% else %>
      <div class="d-none d-lg-block index-category">
    <% end %>
        <h2><%= cat.name %></h2>
      </div>

      <div class="index-items">
        <div>
          <ul class="list-unstyled">
          <% cat.items(exclude: [:category]).each do |c| %>
            <li <% if c == @page %> class="selected" <%end%>>
              <%= link_to c.label, url_for(c) %>
            </li>
          <% end %>
          </ul>
        </div>
      </div>

  </div>
<% end %>
