<div class="container">
	<div class="row" style="margin-top: 21px;">
	<div class="col">
		<h1> WPVI News Footage Collection</h1>
		<ul>
			<li>This video collection is only accessible in the Special Collections Research Center's reading room, in the Paley Library.</li>
			<li>For more information about this collection please see the finding aid (Series 2, Accession B)</li>
			<li>When searching the collection, do not use truncation/wildcard symbol (*) or quotation marks ("")</li>
			<li><strong style="font-size: larger">And please be patient. Due to the large number of files, searching and loading will be gradual.</strong></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col text-center">
		<iframe id="ensembleFrame_jU380Gd-j0yJuJiR3hWlgQ" src="https://ensemble.temple.edu/app/plugin/embed.aspx?DestinationID=jU380Gd-j0yJuJiR3hWlgQ&playlistEmbed=true&isNewPluginEmbed=true&displayTitle=true&orderBy=videoTitle&orderByDirection=asc&displayEmbedCode=false&displayAttachments=false&displayAnnotations=false&displayLinks=false&displayCredits=false&displayDateProduced=false&displayCaptionSearch=false" frameborder="0" style="width: 800px; height : 1000px;" height="1000" width="800" allowfullscreen></iframe>
	</div>
</div>
</div>