<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field field-draft">
  <%= f.rich_text_area draft_name(field) %>
</div>

<div contenteditable="false"
     class="field-unit__field field-published field-description"
     id="<%= fieldname_in_draft(@requested_resource, field) %>">
  <%= field.data if field.data.present?  %>
</div>
