<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<div class="field-unit__field field-draft">
  <%= f.text_area draft_name(field), class: "tinymce", rows: 10, cols: 120 %>
</div>

<%= tag.div field.data.nil? ? "" : field.data.sanitize.html_safe, contenteditable: "false",
  class: "field-unit__field field-published",
  id: fieldname_in_draft(@requested_resource, field)
%>
