<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<span class="required-input">*</span>
<div class="field-unit__field">
  <%= f.text_area field.attribute, class: "tinymce", rows: 10, cols: 120, required: true, aria: { required: true } %>
</div>
<style>
<!--
  .tinymce {
  	display: block !important;
		height: 0px;
	  opacity: 0;
	  position: relative;
	  top: -72px;
  }
-->
</style>