<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<!-- <span class="required-input">*</span> -->
<div class="field-unit__field">
  <%= f.text_area field.attribute, class: "tinymce", rows: 10, cols: 120 %>
</div>
