<div class="field-unit__label">
  <% if field.attribute.to_s == "access_description" %>
  	<%= f.label "Get Help Box" %>
  <% else %>
  	<%= f.label field.attribute %>
  <% end %>
</div>
<div class="field-unit__field">
  <%= f.rich_text_area field.attribute, rows: 10, cols: 120 %>
</div>
