@charset "utf-8";

@import "reset/normalize";

@import "../selectize.bootstrap5.scss";
@import "trix/dist/trix";

@import "library/clearfix";
@import "library/data-label";
@import "library/variables";

@import "base/forms";
@import "base/layout";
@import "base/lists";
@import "base/tables";
@import "base/typography";

@import "components/app-container";
@import "components/attributes";
@import "components/buttons";
@import "components/cells";
@import "components/field-unit";
@import "components/flashes";
@import "components/form-actions";
@import "components/main-content";
@import "components/navigation";
@import "components/pagination";
@import "components/search";
@import "components/select_all_button";

@import "utilities/text-color";

@import "richtext";

.application-failover-text {
  padding: 42px;
  h2 {
    margin-bottom: 35px;
  }
}

.label-with-hint-text {
  height: 24px;
}

.field-unit--description-field {
  display: inline-block;
  trix-editor {
    height: 21rem;
    overflow:auto;
    resize: vertical;
  }
}

.file-uploads-text, .external-links-text {
  width: 65%;
  margin: auto;
}

select[multiple] { 
  resize: vertical; 
}

// categories

.field-unit--categorizations, 
.field-unit--file-uploads,
.field-unit--external-links {
  align-items: baseline;
  .entity-weight-list {
    padding: 1.1em;
    border-bottom: 1px solid;
    .categorizable-type {
      width: 20%;
      display: inline-block;
    }
    .categorizable-label {
      width: 40%;
      display: inline-block;
    }
    .categorizable-weight {
      display: inline-block;
      width: 8%;
    }
    .fileabilities, .external-link-webpages {
      width: 90%;
    }
    .file-upload-name, .external-link-webpage-name {
      width: 80%;
      display: inline-block;
    }
    .file-upload-weight, .external-link-webpage-weight {
      width: 10%;
      display: inline-block;
    }
    .file-upload-destroy, .external-link-webpage-destroy {
      width: 5%;
      display: inline-block;
      text-align: right;
      input {
        display: none;
      }
      input:checked ~ span.delete-icon {
        background-image: url("delete-selected.png");
      }
      span.delete-icon {
        display: inline-block;
        cursor: pointer;
        position: relative;
        top: 7px;
        left: 10px;
        height: 27px;
        width: 24px;
        background-image: url("delete.png");
        transition: 0.5s
      }
    }
  }
}


// library hours

#last-sync {
  padding-left: 2rem;
}

.icons {
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}