trix-toolbar {
  .trix-button--icon-horizontal-rule::before { background-image: url("trix_horizontal_rule.svg"); }
  .trix-button--icon-color::before { background-image: url("trix_color.svg"); }

  .trix-dialog--heading { max-width: 200px; }

  .trix-dialog {
    margin-left: 24%;
    padding: 10px;

    .trix-dialog-hidden__input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
  }
}

trix-editor {
  [data-trix-mutable].attachment[data-trix-content-type~="vnd.rubyonrails.horizontal-rule.html"] {
    box-shadow: 0 0 0 2px highlight;
  }
}

.trix-content {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin: 0;
  }

  h1 { font-size: 36px; }
  h2 { font-size: 26px; }
  h3 { font-size: 18px; }
  h4 { font-size: 18px; }
  h5 { font-size: 14px; }
  h6 { font-size: 12px; }

  .attachment { width: 100%; }

  .attachment--content.attachment--horizontal-rule,
  .attachment--content[data-trix-content-type~='vnd.rubyonrails.horizontal-rule.html'] {
    padding: 1.5em 0 0.5em !important;
    margin-bottom: 0.5em
  }

  .attachment--content.attachment--horizontal-rule hr,
  .attachment--content[data-trix-content-type~='vnd.rubyonrails.horizontal-rule.html'] hr {
    margin: 0;
    width: 20%;
    border-color: currentColor
  }
}
