<div class="leftside-index">
  <div class="index-items">
    <ul class="list-unstyled">
      <% @nav_items.flatten.uniq.each do |c| %>
        <li>
          <%= link_to c.label, category_url(c) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
