<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    Libraries
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Libraries</span></h2>
    </div>
  </div>
</div>

<div class="container">
<div class="row buildingsRow">
<% unless @buildings.nil? %>

    <% @buildings.each do |building| %>
      <div class="col-12 col-sm-6 col-lg-3 text-center" >
        <div class="card">
          <% if building.photo.attached? %>
            <%= link_to image_tag(building.index_image, class: "lib-image", alt: ""), building_path(building) %>
          <% else %>
            <%= link_to image_tag('T-borderless.gif', class: "default-image", alt: ""), building_path(building) %>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-title"><%= building.name %></div>
        </div>
      </div>
    <% end %>

<% end %>
</div>
</div>