<div class="row">
  <div class="col breadcrumbs">
    <%= link_to "Home", root_path.to_s %>
    Libraries
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="vertical-stripes-sm">
      <h2><span>Libraries</span></h2>
    </div>
  </div>
</div>

<div class="container">
<div class="row buildingsRow">
<% unless @buildings.nil? %>

    <% @buildings.each do |building| %>
      <div class="col-12 col-sm-6 col-md-4 text-center" >
        <div class="card">
          <% if building.photo.attached? %>
            <%= link_to image_tag(building.photo.variant(gravity: 'center', crop: "250x250+50%+30%", extent: "100%x100%"), class: "card-img-top", alt: "", style: "width:380px;max-height:190px"), building_path(building) %>
          <% else %>
            <%= link_to image_tag('T-borderless.gif', class: "card-img-top", alt: "", style: "width:190px;height:190px"), building_path(building) %>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-title"><%= building.name %></div>
        </div>
      </div>
    <% end %>

<% end %>
</div>
</div>