<p id="notice"><%= notice %></p>

<h1>Buildings</h1>

<% unless @buildings.nil? %>
    <% @buildings.each do |building| %>
      <p>
        <%= link_to building.name, controller: 'buildings', action: 'show', id: building.id %>
      </p>
    <% end %>
<% end %>
<br>

