<p id="notice"><%= notice %></p>

<h1>Alerts</h1>

<% unless @alerts.nil? %>
    <% @alerts.each do |alert| %>
      <p>
        <%= link_to alert.scroll_text, alert %>
      </p>
    <% end %>
<% end %>
<br>

