<p>This form should be used by applicants currently enrolled in a Temple University graduate degree program.</p>

<p><strong>Program Requirements</strong>:</p>

<p>Students must complete nine credits of course work and a variable (0-1) credit Cultural Analytics Practicum to complete the Certificate. The introductory course surveys the range of methods. Students then select two electives in the focal area needed for their own research interests. Finally, students complete a final project of their own design in the Practicum, a semester-long workshop offered by the Scholars Studio of Temple University Libraries. The final project will be part of the dissertation or thesis and will be overseen by their academic adviser.</p>

<p>Students may apply for admission to the program at any time. Applications received prior to the end of the add/drop period may be considered for current semester. Otherwise application is for the upcoming semester. Once you complete the form below you will be contacted by the CAC Program Director. If you have any questions about the certificate program, please contact Adrienne Shaw at <%= mail_to "adrienne.shaw@temple.edu" %>.</p>