<div class="container-lg errorpage">
  <div class="row">
  	<div class="col">
  		<h1 class="page-title text-center">
  			<%= t("manifold.error.not_found_header") %>
  		</h1>
  	</div>
  </div>

  <div class="row">
    <div class="col">
      <p class="text-center">
      <%= t("manifold.error.not_found_text_html") %>
      </p>
    </div>
  </div>
</div>
