# frozen_string_literal: true

accts = [
  { email: "admin@example.com", role: "admin", alertability: true },
  { email: "user1@example.com", role: "regular", alertability: false },
]

accts.each do |accts|
  Account.create!(email: accts[:email], admin: accts[:admin], alertability: accts[:alertability], password: Devise.friendly_token[0,20]) unless Account.find_by(email: accts[:email])
end
