<% content_for :title, "Redirect to TUAccess" %>
<% content_for :head do %>
  <meta http-equiv="refresh" content="0; url=<%= root_url %>accounts/auth/google_oauth2" />
<% end %>
<h2>Log in with TU Access</h2>

<%= render "devise/shared/links" %>
