<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<span class="required-input" title="Required Field">*</span>
<div class="field-unit__field">
  <%= f.text_field field.attribute %>
</div>
