<p>Replace existing text with "Please use this form if the status of a book is "Available" in the <a class="inline"
href="https://librarysearch.temple.edu/bento">Library Search</a>, but you cannot find it on the shelf. If we cannot find
the book we will mark it Missing and notify you, so you may request it through <a class="inline"
href="http://guides.temple.edu/content.php?pid=275380">E-ZBorrow or ILLiad</a>. We will also place a hold for you on our
copy of the book and notify you if we find it.</p>
