@import "_vars.scss";

.categories {
	#content {
		.container {
			margin-top: 35px;
			h2 {
				a {
					color: $red;
				}
			}
			.category-icon {
				opacity: .5;
        max-width: 130px;
			}
		}
	}
}