@import "_vars.scss";

.has-many-list {
  list-style-type: none;
  padding-left: 0px;
}

.h-one {
  height: 1rem;
}

.h-one-half {
  height: 1.5rem;
}

.h-two-half {
  height: 2.5rem;
}

.h-three {
  height: 3rem;
}