@import "_vars.scss";

#footer {
	width: 100%;
}
#footer-buildings,
#footer-spaces,
#footer-services,
#footer-groups {
	margin-right: 28px;
}
#footer-buildings {
	color: $lightest-purple;
}
#footer-spaces {
	color: $baby-puke-green;
}
#footer-services {
	color: $honeydew;
}
#footer-groups {
	color: $musk-melon;
}
#footer-collections {
	color: $saffron;
}
#site-footer {
		background-color: $footer-gray;
	.postscript {
		.col {
			strong {
				font-size: 105%;
			}
			hr {
				border: solid $white 1px;
				margin-top: 4px;
				margin-bottom: 8px;
			}
			ul li {
				line-height: 1.5rem;
				font-size: 90%;
				letter-spacing: .1rem;
			}
			li.see-all {
				font-style: italic;
			}
		}
	}
	.footer-logo {
		margin-top: 21px;
		padding-left: 7px;
	  max-width: 107px;
	  max-height: 77px;
	}
	.social-footer {
		img {
			width: 36px;
			height: 36px;
		  max-width: 36px;
		  max-height: 36px;
		}
	}
	a.footer-name, a.footer-name:hover, a.footer-name:focus {
		color: $white;
		font-size: 2.45rem;
		font-family: "Crimson Text",serif;
		vertical-align:bottom;
		margin-left: 10px;
		text-decoration: none;
		white-space: nowrap;
		line-height: 1.25;
	}

	border-top: solid #303030 0;
	color:#fff!important;
	font-family: droid, sans;
	width: 100%;
	height: 100%;
	color: #666;
	a {
		color: #903
	}
	.row {
		margin-left: 0;
		margin-right: 0; 
	}
	.col {
		padding-left: 0;
		padding-right: 0;
	}
	.postscript {
		font-weight: normal;
		padding-left: 30px;
		margin:10px auto;
		width:100%;
		max-width:1140px;
		.region-postscript-first {
			padding-left: 42px;
			width:35%;
			display:inline-block;
			/*background:asset-data-url('location.png') no-repeat 5px 9px transparent;*/
			@media only screen and (max-width : 650px) {
		    padding-left: 6%;
		    width: 100%;
    	}
		}
	}
	.tu-links {
		border-top: solid #303030 0;
		background-color: $footer-dark-gray; 
		hr {
			border: solid $white 1px;
			margin-top: 8px;
		}
		.tools {
			font-size: 125%;
			letter-spacing: .15rem;
		}
		padding: 24px 0 56px 0;
		clear:both;
		font-size: .9rem;
		font-family: droid, sans;
		.region-footer {
			li.social-footer {
				display: inline-block;
			}
			li.facebook {
				display: inline-block;
			}
			li.instagram {
				display: inline-block;
			}
			li.twitter {
				display: inline-block;
			}
			margin:0 auto;
			width:100%;
			max-width:1140px;
			padding-left:2.5%;
		}
		ul {
			list-style-type:none;
			li {
				line-height: 2;
				text-decoration: none;
				padding-right:28px;
				a {
					color: #fff;
				}
			}
		}
	}
}