@import "_vars.scss";

#site-footer {
	background-color: $footer-gray;
	border-top: solid #303030 0;
	color:#fff!important;
	width: 100%;
	color: #666;
	margin-top: 42px;
	.row {
		margin-left: 0;
		margin-right: 0; 
	}
	a {
		color: $light-grey;
	}
	.tu-links {
		border-top: solid #303030 0;
		color: $light-grey;
		padding: 24px 0 56px 0;
		clear:both;
		h2 {
			font-family: "Faustina"!important;
			font-size: 125%;
			margin-bottom: 14px;
		}
		ul {
			margin-bottom: 0;
			li {
				/*line-height: .85rem;*/
				text-decoration: none;
				/*font-size: 90%;*/
				color: $light-grey;
				padding-left: 0;
				a {
					color: $light-grey;
				}
			}
		}
		.address {
			@media (max-width: 1040px) {
				border-top: solid $white 1px;
				margin-top: 14px;
				padding-top: 14px;
			}
		}
	}
}

a.donate {
	vertical-align: middle;
	padding: 7px;
	position: relative;
	top: 17px;
	left: 0;
	background-color: $white;
	color: $red!important;
	font-family: "Roboto Bold";
	font-size: 20px;
	border-radius: 7px;
}
.social {
	border-bottom: solid $white 1px;
	.social-link {
		a:hover {
			text-decoration: none;
		}
	}
	ul {
		padding-left: 0;
		@media(max-width: 1040px) {
			margin-top: 35px;
		}
	}
	li.social-footer {
		display: inline-block;
		position: relative;
		top: 7px;
		padding: 6px 14px;
		img {
			width: 36px;
			height: 36px;
		  max-width: 36px;
		  max-height: 36px;
		  /*margin: 7px;*/
		}
	}
	li.facebook {
		display: inline-block;
	}
	li.instagram {
		display: inline-block;
		@media (max-width: 1040px) {
			padding-left: 0;
			img {
				margin-left:0;
			}
		}
	}
	li.twitter {
		display: inline-block;
	}
}