@import "_vars.scss";

#header {	
	background-color: cornsilk;
	.container {
		padding: 14px 10px;
		height: 49px;
		vertical-align: middle;
	}
}
#main-menu {
	background-color: $seagreen;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: auto;
	display: inline-block;
	.nav-container {
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		margin-bottom: 0;
	}
	ul {
		width: auto;
		padding-bottom: 0;
		margin-bottom: 0;
		li {
			padding-top: .9rem;
			padding-bottom: .9rem;
			display: inline-block;
			padding-left: 21px;
			padding-right: 21px;
			height: 100%;
			vertical-align: middle;
			border-left: solid $dark-grey 1px;
			a {
				color: $white;
				font-size: 1.25rem;
			}
		}
		li.first {
			border-left: solid $dark-grey 0;
			border-right: solid $dark-grey 0;
		}
		li.last {
			border-right: solid $dark-grey 1px;
			@media screen and (max-width: 1057px) {
				border-right: solid $dark-grey 0;
			}
			@media screen and (max-width: 1011px) {
				padding-right: 0;
			}
		}
		li.nav-right {
			float: right;
			background-color: $seagreen-dark;
			padding-left: 56px;
		}
	}
	.main-nav-right {
		padding-left: 0;
	}
}

#mobile-menu {
	li {
		display: block!important;
	}
}

#mobile-nav {
	position: relative;
	.navbar {
		background-color: $seagreen;
		justify-content: flex-start;
		width: 32%;
		padding-left: 35px;
		padding-bottom: 14px;
	}
	.navbar-brand {
		padding-left:10px;
	}
}
#policies-mobile-nav {
	position: relative;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	.navbar {
		background-color: #efefef;
		justify-content: flex-end;
		width: 100%;
		padding-right: 35px;
		padding-bottom: 10px;
	}
	.navbar-brand {
		padding-left:10px;
	}
}

.minipage #seagreen {
	height: 100px;
}

#header-navbar {
	.col {
		padding-left: 0;
	}
	.header-logo {
	  max-width: 90px;
	  max-height: 77px;
	  min-width: 90px;
	  min-height: 77px;
	  vertical-align: bottom;
	}
	a.header-name, a.header-name:hover, a.header-name:focus {
		color: #000;
		font-size: 2rem;
		font-family: "Crimson Text",serif;
		vertical-align:bottom;
		text-decoration: none;
		white-space: nowrap;
		line-height: 1.25;
	}
}
.navbar-default {
	background-color: $tan;
}

.navbar-right {
	position: relative;
	ul {
		position: absolute;
		bottom: 0;
		float: right;
		width: 100%;
		margin-right: 28px;
		margin-bottom: 0;
		text-align:right;
		li {
			a, a:visited, a:hover, a:active {
				color: $black;
				font-size: 140%;
				font-family: 'Droid';
			}
			display: inline-block;
			padding: 7px 24px 0 24px;
		}
	}
}

.form-control:focus {
	border-color: $red;
	box-shadow: 0 0 8px rgba(165, 0, 48, 0.6);
}

.navbar-collapse.collapse.show {
  display: block!important;
}