@import "_vars.scss";

#header {	
	background-color: cornsilk;
	.container {
		padding: 14px 10px;
		height: 49px;
		vertical-align: middle;
	}
}
#main-menu {
	background-color: $seagreen;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: auto;
	display: inline-block;
	.nav-container {
		padding-left: 0;
		padding-right: 0;
		margin: auto;
		margin-bottom: 0;
	}
	ul {
		width: auto;
		padding-bottom: 0;
		margin-bottom: 0;
		li {
			padding-top: .5rem;
			padding-bottom: .5rem;
			display: inline-block;
			padding-left: 21px;
			padding-right: 21px;
			height: 100%;
			vertical-align: middle;
			border-left: solid $seagreen-dark 2px;
			a {
				color: $white;
				font-size: 1.25rem;
				@media screen and (max-width: 1023px) {
					font-size:1.1rem;
				}
			}
		}
		li.first {
			border-left: solid $seagreen-dark 0;
			border-right: solid $seagreen-dark 0;
		}
		li.last {
			border-right: solid $seagreen-dark 2px;
			@media screen and (max-width: 950px) {
				border-right: solid $seagreen-dark 0;
			}
			@media screen and (max-width: 949px) {
				padding-right: 0;
			}
		}
		li.nav-right {
			@media screen and (min-width: 940px) {
				float: right;
			}
			background-color: $seagreen-dark;
			padding-left: 49px;
			border-color: $seagreen;
			padding-right: 16px;
		}
		li.nav-right.hours-nav {
		background-image:asset-data-url('hours.png');
		background-position: 7px center;
		background-repeat: no-repeat;
		background-size: 42px 42px;
		}
		li.nav-right.chat-nav {
		background-image:asset-data-url('chat.png');
		background-position: 7px center;
		background-repeat: no-repeat;
		background-size: 49px 59px;
		}
		li.nav-right.account-nav {
		background-image:asset-data-url('person.png');
		background-position: 7px center;
		background-repeat: no-repeat;
		background-size: 42px 42px;
		}

	}
	.main-nav-right {
		padding-left: 0;
	}
}

#mobile-search-container {
	nav.navbar {
		padding: 0;
	}
}

#mobile-menu {
	background-color: $white;
	.col {
		display: table;
		a {
			vertical-align: middle;
			padding-left: 0!important;
		}
	}
	li {
		display: block!important;
		padding-left: 14px;
		font-size: 1.5rem;
		padding-bottom: 7px;
		a {
			color: white;
		}
		@media screen and (max-width: 799px) {
			width: 100%;
			background-color: $grey;
			border: 0;
		}
	}
	.hours-icon {
		width: 40px;
		height: 40px;
		}
	.chat-icon {
		width: 46px;
		height: 46px;
		}
	.person-icon {
		width: 40px;
		height: 40px;
		}
}

#mobile-nav {
	position: relative;
	width: 100%;
	margin: 0;
	.navbar {
		background-color: $seagreen;
		justify-content: flex-start;
		padding: .25rem 0;
		.navbar-toggler {
			border: 0;
			padding: 0;
		}
		.collapse .padding {
			height: 0;
		}
		.show .padding {
			height: 10px;
			background-color: $seagreen;
		}
		.navbar-toggler:hover {
			background-color: $seagreen;
		}
		.navbar-toggler:focus {
			outline: none;
		}
		.navbar-toggler-icon {
			margin-left: 10px;
			background-image: none;
		}
		.navbar-brand {
			padding-left: 7px;
		}
		.row {
			margin-top: 2px;
			background-color: $seagreen;
	    height: 45px !important;
	    max-height: 45px !important;
	    max-width: 100%;
	    display: table;
	    margin-left: 0;
			.col {
		    display: table-cell;
		    vertical-align: middle;
		    width: 100%;
		    text-align: center;
				a {
					width: 100%;
					color: $white;
					font-size: 1.5rem;
				}
			}
		}
	}
}

#policies-mobile-nav {
	position: relative;
	margin: 0;
	.navbar {
		background-color: $seagreen-dark;
		justify-content: flex-start;
		padding: .25rem 0;
		width: 100%;
	}
	.navbar-toggler {
		border: 0;
		padding: 0;
	}
	.navbar-toggler:hover {
		background-color: $seagreen-dark;
	}
	.navbar-toggler:focus {
		outline: none;
	}
	.navbar-toggler-icon {
		margin-left: 10px!important;
		background-image: none;
	}
	.navbar-brand {
		padding-left: 7px;
	}
}

.minipage #seagreen {
	height: 100px;
}

#header-navbar {
	.col {
		padding-left: 0;
	}
  
	.logo-container {
		padding-left: 0;
	}
	.header-logo {
	  max-width: 90px;
	  max-height: 77px;
	  min-width: 90px;
	  min-height: 77px;
	  vertical-align: bottom;
		@media screen and (min-width: 0) and (max-width: 767px) {
			margin-top: 10px;
			margin-bottom: 10px;
			}
		@media screen and (max-width: 450px) {
			vertical-align: top;
		}
	}
	a.header-name, a.header-name:hover, a.header-name:focus {
		color: #000;
		font-size: 2rem;
		font-family: "Crimson Text", serif;
		vertical-align: bottom;
		text-decoration: none;
		white-space: nowrap;
		line-height: 1.25rem;
		@media screen and (min-width: 451px) and (max-width: 767px) {
			span {
				position: relative;
				top: -10px;
			}
		}
		@media screen and (max-width: 450px) {
			span {
				display: inline-block;
				width: 150px!important;
				margin-top: 17px;
				line-height: 2rem;
				white-space: normal;
			}
		}
	}
	@media screen and (max-width: 799px) {
		padding: 0;
	}
}
.navbar-default {
	background-color: $tan;
}

.form-control:focus {
	border-color: $red;
	box-shadow: 0 0 8px rgba(165, 0, 48, 0.6);
}

#burger {
	float: right;
	right: 100%;
  display: inline-block;
  cursor: pointer;
  float: right;
	margin-top: 1.75rem;
}

.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: $white;
  margin: 6px 0;
  transition: 0.4s;
}

#mobile-search-button {
	.bar1, .bar2, .bar3 {
	  width: 2.5rem;
	  height: 6px;
	  background-color: $white;
	  margin: 6px 0;
	  transition: 0.4s;
	  opacity: 0;
	}
	.navbar-toggler-icon {
		margin:0;
		padding-left: 0;
		float: left;
		height: 42px;
		width: 49px;
		background-color: $foamgreen;
		background-image:asset-data-url('search.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 42px 42px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		@media screen and (min-width: 0px) and (max-width: 767px) {
			position: relative;
			top: -.3rem;
			float: none;
			border-radius: 0;
			margin-right: 14px;
			height: 49px;
			width: 52px;
		}
	}
	.navbar-toggler-icon.change {
		background-image: none;
		padding-top: .7rem;
		padding-left:.35rem;
	}
	.navbar-toggler-icon:focus {
		outline: none;
	}
	.navbar-toggler-icon:hover {
		/*background-color: transparent;*/
	}
	.navbar-toggler {
		background-color: transparent;
		.change .bar1 {
			  opacity: 1;
		  -webkit-transform: rotate(-45deg) translate(-1px, 5px) ;
		  transform: rotate(-45deg) translate(-1px, 5px) ;
		}
		.change .bar2 {
		  opacity: 0;
		}
		.change .bar3 {
			  opacity: 1;
		  -webkit-transform: rotate(45deg) translate(-12px, -15px) ;
		  transform: rotate(45deg) translate(-12px, -15px) ;
		}
	}
	.navbar-toggler:focus {
		outline: none;
	}

}

.change .bar1 {
	  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(-3px, 6px) ;
  transform: rotate(-45deg) translate(-3px, 6px) ;
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
	  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-5px, -8px) ;
  transform: rotate(45deg) translate(-5px, -8px) ;
}

.navbar-collapse.collapse.show {
  display: block!important;
}

.home #main-search {
	display:none!important;
}
