@import "_vars.scss";

	.today {
		font-weight: 600;
		border-left: solid $red 1px;
		border-right: solid $red 1px;
	}
	.day-of-week {
		border: 0;
		color: $red;
	}
	.closed {
		color: $red;
	}
	.date-nav {
		background-color: $light-grey;
		margin-top: 35px;
		padding: 14px;
		padding-left: 3%;
		color: $red;
	}