@import "_vars.scss";

	.today {
		font-weight: 600;
		border-left: solid $red 1px;
		border-right: solid $red 1px;
		background-color: #efefef;
		padding: 7px;
	}
	.day-of-week {
		border: 0;
		color: $red;
		padding: 7px;
		background-color: transparent;
	}
	.hours-dates {
		border-bottom: solid #ccc 1px;
		margin-bottom: 4px;
		.col {
			padding: 7px;
		}
	}
	.closed {
		color: $red;
	}
	.date-nav {
		background-color: $light-grey;
		margin-top: 35px;
		padding: 14px;
		padding-left: 3%;
		color: $red;
	}
	.today_button {
		padding: 10px;
		background-color: $white;
		border: solid $red 1px;
		border-radius: 7px;
		text-decoration: none!important;
	}
	.date-range {
		font-size: large;
	}
	.hours-header {
		margin-top: 35px;
	}
	.hours-month-name {
		font-weight: 600;
		font-size: 150%;
	}

	.mobile-hours {
		.today {
			font-weight: 600;
			border-left: solid $red 1px;
			border-right: solid $red 1px;
			background-color: $white;
			/*padding: 7px;*/
		}
		.hours-dates {
			border-bottom: 0;
			margin-bottom: 7px;
			padding: 2px;
		}
		.hours-location {
			margin-top: 14px;
			background-color: #eee;
			padding: 14px 0 14px 0;
		}
		.hours-month-name {
			color: $red;
			margin-bottom: 14px;
		}
		.hours-header {
			margin-top: 0;
			margin-bottom: 14px;
		}
		.today_button {
			display: inline-block;
		}
	}