@import "_vars.scss";

.inner-wrapper {
	width: 100%;
}
.not-rounded {
	border-radius: 0!important;
}

@media only screen and (max-width: 1039px) {
  .space-description {
    height: auto!important;
    max-width: 94%!important;
		width: 94%!important;
		margin: auto;	
  }
  .home {
  	#searchFields {
	  	background: none!important;
	  	height: auto!important;
  		.searchOptions {
  			margin-top: 93px;
  			.row {
	  			padding-left:14px;
	  			padding-right: 14px;
	  		}
  			.col-12 {
	  			display: table;
				  margin-top: 21px;
				  text-align: center;
	  			a, a:hover {
		  			display: block;
		  			color: $black;
		  			font-size: 150%;
		  			width: 95%!important;
		  			background-color: $foamgreen;
		  			border-radius: 7px;
				    height: 90px !important;
				    max-height: 90px !important;
				    display: table-cell;
				    vertical-align: middle;
				    margin: 10px auto;
				  }
	  		}
	  	}
			#dateTime {
		  	position: relative!important; 
		  	margin-top: 35px;
		    background-color: #fff;
		    border-top-left-radius: 7px;
		    border-top-right-radius: 7px;
		    border-radius: 7px;
		    width: 80%!important;
		    padding-bottom: 14px;
		    margin: 0!important;
		    margin-left: auto!important;
		    margin-right: auto!important;
		    margin-top: 35px!important;
		    text-align: center;
		    border: solid $purple 2px;
		    #date {
		    	background-color: transparent!important;
		    	color: $black!important;
		    	font-size: 200%!important;
		    	font-weight:  500 !important;
		    }
				#time {
					width: 100%!important;
					display: block!important;
					float: none!important;
					padding-left: 0!important;
					font-size: 175%!important;
				}
				#allHours {
					width: 100%!important;
					display: block!important;
					margin-top: 21px;
					font-size: 125%!important;
					a {
						border-bottom: solid $black 1px;
					}
					a:hover {
						border-bottom: 0;
					}
				}
			}
		}
	}
}
.responsive .visit-info {
		margin-top: 35px;
    margin-bottom: 21px;
		.r-title {
			padding: 14px 0 14px 0;
			color: $white;
			background-color: $seagreen;
			margin:auto;
			max-width: 90%;
			width: 90%;
			height:auto;
			max-height: 100%;
			min-height: 49px;
			color: $white;
			font-size: 175%;
		}
		.r-body {
			padding: 14px 0 21px 0;
			background-color: $seagreen-complement;
			color: $black;
			margin:auto;
			max-width: 90%;
			width: 90%;
			height:auto;
			max-height: 100%;
			min-height: 49px;
			a {
				color: $black!important;
			}
			.phone, .time {
				font-size: 150%;
				padding: 10px;
			}
			.email, #date {
				font-size: 115%;
			}
		}
		#map-body {
			padding-top: 0;
			padding-bottom: 0;
		}
}
