@import "partials/_vars.scss";
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

#main-search {
	position: relative;
	text-align: right;
	form {
		width: 100%;
		padding-top: 10px;
		.fa-search { 
			height: 42px;
			border-radius: 7px;
		  color: $light-grey;
		  float: left;
		}
		input[type="submit"] {
			margin:0;
			padding-left: 0;
			float: left;
			height: 42px;
			width: 49px;
			background-color: $foamgreen;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	#librarySearch {
		height: 42px;
		font-size: 1.5rem;
		font-style: normal;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 85%;
		float: left;
		padding-right: 0;
		border-right: 0;
	}
	ul {
		clear: both;
		font-size: 1rem;
		padding-left: 0;
		padding-top: 7px;
		margin-bottom: 0;
		li {
			display: inline-block;
			padding-left: 4px;
			padding-right: 4px;
			color: $black;
			a {
				font-family: 'PT Sans', verdana, sans;
				color: $black;
				text-decoration: underline;
			}
		}
		li::after {
			content: " | ";
		}
		li:last-child:after {
			content: "";
		}
	}
	#librarySearch::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  font-style: normal;
	  font-family: 'PT Sans';
	}
	#librarySearch::-moz-placeholder { /* Firefox 19+ */
	  font-style: normal;
	  font-family: 'PT Sans';
	}
	#librarySearch:-ms-input-placeholder { /* IE 10+ */
	  font-style: normal;
	  font-family: 'PT Sans';
	}
	#librarySearch:-moz-placeholder { /* Firefox 18- */
	  font-style: normal;
	  font-family: 'PT Sans';
	}
}
#searchOptions {
	width: 50%;
	float: right;
	
	#advancedSearchLink {
		display: inline-block;
		position:relative;
		top: 27px;
		padding-left: 14px;
		text-decoration: underline;
		a {
			color: $black;
		}
		@media screen and (max-width: 1057px) {
			display:block;
		}
	}
}


.minipage #searchFields form {
	top: 64px;
}

#home {
	/*position: relative; top: -47px; */
}
#ambler {
	position: relative; top: -126px; 
}
#hsl {
	position: relative; top: -126px; 
}

#home #searchFields {
	background: transparent asset-data-url('charles.jpg') no-repeat 0% 0%;
}
#ambler #searchFields {
	background: transparent asset-data-url('ambler.jpg') no-repeat 0% 0%;
}
#hsl #searchFields {
	background: transparent asset-data-url('hsl.jpg') no-repeat 0% 0%;
}

#home #searchFields, #ambler #searchFields, #hsl #searchFields {
	position: relative;
	width: 100%;
	z-index: 0;
	form {
		width: 60%;
		margin:auto;
		position:relative;
		top: 48px;
		outline: solid red 1px;
		.fa-search { 
		  position: absolute;
		  top: 12px;
		  left: 21px;
		  font-size: 2rem;
		  color: $light-grey;
		}
	}
	height:550px;
	background-size: cover;
	background-position-y: center;
	#dateTime {
		position: absolute;
		bottom: 0px;
		background-color: $white;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		width: 40%;
		margin: auto;
		margin-left: 30%;
		text-align: center;
		#date {
			background-color: $purple;
			width: 85%;
			margin: auto;
			padding-top: 7px;
			padding-bottom: 7px;
			color: white;
			font-size: 1.3rem;
		}
		#time {
			width: 50%;
			padding-top: 7px;
			padding-bottom: 0;
			font-size: 1.1rem;
			display: inline-block;
			font-weight: 600;
			float: left;
			padding-left: 7.5%;
		}
		#allHours {
			width: 50%;
			padding-top: 7px;
			padding-bottom: 0;
			font-size: 1.1rem;
			display: inline-block;
			a {
				color: $black;
			}
		}
	}
}

#hsl #searchFields {
	#dateTime {
		width: 50%;
		margin-left: 25%;
		display: table;
		#date {
			width: 85%;
			margin: auto;
		}
		.displayRow {
			display: table;
			width: 100%;
		}
		#time {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			/*font-size: 99%;*/
		}
		#allHours {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

