@font-face {
  font-family: 'FontAwesome';
  src: font-url('fa-solid-900.svg') format('svg');
}

@font-face {
  font-family: 'Faustina';
  src: font-url('Faustina-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Faustina-Italic;
  src: font-url('Faustina-Italic-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Faustina-Bold;
  src: font-url('Faustina-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: font-url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  src: font-url('Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: font-url('Roboto-Bold.ttf') format('truetype');
}
