// Colors
$red: #A32035;
$cinnamon: #f7d1d1;
$tan: #f1efe7;
$black: #001E61;
$white: #fff;
$grey: #F7F7F7;
$light-grey: #F7F7F7;
$lightest-grey: #F7F7F7;
$dark-grey: #001E61;
$med-grey: #F7F7F7;
$background-grey: #F7F7F7;
$green: #2f287e;
$seagreen: $red;
$seagreen-dark: $red;
$seagreen-complement: #c7e5e0;
$seagreen-on-grey: #1f9584;
$foamgreen: #2f287e;
$foamgreen-complement: #dde3c5;
$purple: #9a2e8c;
$purple-complement: #e5c9e0;
$darkgold: #f9b034;
$darkgold-complement: #dde3c5;
$gold: #fbc467;
$lightest-purple: #e5c9e0;
$baby-puke-green: #dce4c6;
$honeydew: #c6e3de;
$musk-melon: #fcebca;
$saffron: #fdf5c2;
$footer-grey: #a3a3a3;
$footer-gray: #525353;
$footer-dark-gray: #403f3f;


$red: #A41E35;
$dark-red: #910C22;
$lighter-grey: #F7F7F7;
$new-gold: #CCA969;
$new-gold-light: #DBC295;
$new-gold-light-accent: #CB927C;
$royal-blue: #001E61;
$crystal-blue: #D4E9F2;