// Colors
$red: #A50030;
$aged-red: #951936;
$cinnamon: #f7d1d1;
$tan: #f1efe7;
$black: #000;
$white: #fff;
$grey: #333;
$light-grey: #ccc;
$med-grey: #444;
$dark-grey: #666;
$background-grey: #eee;
$footer-grey: #a3a3a3;
$green: #E5FFE5;
$seagreen: #1f9584;
$seagreen-complement: #c7e5e0;
$foamgreen: #759742;
$foamgreen-complement: #dde3c5;
$purple: #9a2e8c;
$purple-complement: #e5c9e0;
$darkgold: #f9b034;
$darkgold-complement: #dde3c5;
$gold: #fbc467;
$lightest-purple: #e5c9e0;
$baby-puke-green: #dce4c6;
$honeydew: #c6e3de;
$musk-melon: #fcebca;
$saffron: #fdf5c2;
$footer-gray: #525353;
$footer-dark-gray: #403f3f;