<div class="field-unit__label">
  <%= f.label field.attribute %>
  <% if is_admin? %>
    <% if field.attribute == :slug %>
      <p style="height:3rem"></p>
    <% end %>
    <% if field.attribute == :title || field.attribute == :name %>
      <p style="height:4rem"></p>
    <% end %>
  <% end %>
</div>
<div class="field-unit__field">
  <%= f.text_field field.attribute, field.html_attributes %>
  <% if is_admin? %>
    <% if field.attribute == :slug %>
      <p>Slugs are used to set the browser path and in the code to link resources together. Edit with extreme caution. Read more in [<a href="https://tulibdev.atlassian.net/wiki/spaces/LWR/pages/1047166982/Slugs">Confluence</a>]</p>
    <% end %>
    <% if field.attribute == :name || field.attribute == :title %>
      <p>When renaming, completely remove the slug field below. A new slug will be generated reflecting the new name/title. For slugs not based on name/title, leave the existing slug intact.</p>
    <% end %>
  <% end %>
</div>
