<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9">

      <div class="row">
        <div class="col" style="padding-left: 0">
          <h1>Request Forms</h1>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col text-center" style="font-size: larger;margin-bottom: 21px">
      <p align="center">Use of these forms is intended for and restricted to members of the Temple University Community</p>
      <p><a href="/contact-us">Library Suggestions/Feedback</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Temple-owned materials</h2>
      <ul class="list-unstyled">
        <li>
          <a href="/forms/missing-book">Missing Book Search Request</a>
        </li>
        <li>
          <a href="/forms/recall-book">Request Recall of Books Already Checked Out (Faculty/Library Staff only)</a>
        </li>
      </ul>
      <h2>Instructional Services</h2>
      <ul class="list-unstyled">
        <li>
          <a href="/forms/library-instruction">Request a Library Instruction Session</a>
        </li>
        <li>
          <a href="/forms/scrc-instruction">SCRC Instruction Session/Visit Request Form</a>
        </li>
      </ul>
      <h2>Library Privileges</h2>
      <ul class="list-unstyled">
        <li>
          <a href="/forms/proxy-account">Proxy Account</a>
        </li>
        </ul>
        <h2>Collection Development</h2>
        <ul class="list-unstyled">
          <li>
            <a href="/forms/purchase-request">Request a Purchase for the Library Collections</a>
          </li>
        </ul>
        <h2>Administrative Services</h2>
        <ul class="list-unstyled">
          <li>
            <a href="/forms/table-request">Library Staff and Registered Student Organization Table Request</a>
          </li>
          <li>
            <a href="/forms/event-space-request">Charles Library Event Space Request</a>
          </li>

        </ul>

        <h2>Requesting books and journal articles owned by Temple</h2>
        <ul class="list-unstyled">
          <li>
            You can request books and journal articles from other Temple campuses and Remote Storage. To do so, <a class="inline" href="#{librarysearch_url}/users/account">log in to the Library Search</a>, locate the item's record in the Library Search, and click on the <strong>Request</strong> button. 
          </li>
        </ul>
        <h2>Temple doesn't have it?</h2>
        <ul class="list-unstyled">
          <li>
            The best place to request books that Temple doesn't own is through <a class="inline" href="https://ezb.relaisd2d.com/?LS=TEMPLE">E-ZBorrow</a>.
          </li>
          <li>
            For books not available through E-ZBorrow, <em>as well as journal articles</em>, use <a class="inline" href="https://temple.illiad.oclc.org/illiad/charles/logon.html">ILLiad</a>, our new service for requesting hard to find materials.
          </li>
        </ul>
    </div>
  </div>
</div>
