<div class="form-group row">
  <div class="col col-md-3">
    <%= label_tag(:comments, "Comments:") %>
  </div>
  <div class="col-9">
    <%= text_area_tag(:comments, "", size: "48x6", :class=>"form-control") %>
  </div>
</div>