
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

	@import "bootstrap";
	@import "partials/_vars.scss";

#seagreen {
	margin-bottom: 21px;
	h1 {
		position:absolute;
		top: 22%;
		font-size: 235%;
		margin-top: 0;
		color: white;
		text-align:center;
		vertical-align:middle;
	}
	span {
		color: black;
		display:inline-block;
		margin-right:21px;
	}
}
#librarySearch {
	height: 56px;
	font-size: 1.75rem;
	font-style: normal;
	border-radius: 7px;
	padding-left: 77px;
}
#librarySearch::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: normal;
  font-family: 'PT Sans';
}
#librarySearch::-moz-placeholder { /* Firefox 19+ */
  font-style: normal;
  font-family: 'PT Sans';
}
#librarySearch:-ms-input-placeholder { /* IE 10+ */
  font-style: normal;
  font-family: 'PT Sans';
}
#librarySearch:-moz-placeholder { /* Firefox 18- */
  font-style: normal;
  font-family: 'PT Sans';
}
#searchFields {
	position: relative;
	width: 100%;
	form {
		width: 60%;
		margin:auto;
		position:relative;
		top: -27px;
	}
	height:550px;
	background: transparent asset-data-url('charles.jpg') no-repeat 0% 0%;
	background-size:cover;
	background-position-y: center;
	#dateTime {
		position: absolute;
		bottom: 0px;
		background-color: $white;
		border-top-left-radius: 7px;
		border-top-right-radius: 7px;
		width: 40%;
		margin: auto;
		margin-left: 30%;
		text-align: center;
		#date {
			background-color: $purple;
			width: 85%;
			margin: auto;
			padding-top: 7px;
			padding-bottom: 7px;
			color: white;
			font-size: 1.3rem;
		}
		#time {
			width: 50%;
			padding-top: 7px;
			padding-bottom: 0;
			font-size: 1.1rem;
			display: inline-block;
			font-weight: 600;
			float: left;
			padding-left: 7.5%;
		}
		#allHours {
			width: 50%;
			padding-top: 7px;
			padding-bottom: 0;
			font-size: 1.1rem;
			display: inline-block;
		}
	}
}
#searchOptions {
	width: 55%;
	margin: auto;
	margin-top: 0;
	position: relative;
	ul {
		margin: 0;
		width: 80%;
		display: inline-block;
		padding-left: 5%;
		padding-right: 21px;
		padding-top: 10px;
		height: 56px;
		font-weight: 100;
		font-size: 1.25rem;
		border: solid $white 1px;
		border-top: 0;
		border-bottom-left-radius: 7px;
		border-bottom-right-radius: 7px;
		color: $white;
		position:relative;
		top: -27px;
		background-color: $foamgreen;
		li {
			margin-left: 14px;
			display: inline-block;
			font-family: 'PT Sans', verdana, sans;
		}
		li::after {
			margin-left: 14px;
			content: " | ";
		}
		li:last-child:after {
			content: "";
		}
	}
	#advancedSearchLink {
		display: inline-block;
		position:relative;
		top: -27px;
		padding-left: 14px;
		text-decoration: underline;
	}
}

.ctaRow {
	padding-left: 3%;
   padding-right: 3%;
   margin-top: 63px;
   .card {
   	width: 100%;
   	display: inline-block;
   	padding: 0;
   	margin-left: 7px;
   	margin-right: 7px;
   	overflow:hidden;
   	img {
   		opacity: 0.5;
   	}
   	.card-body {
   		text-align:center;
   		padding: .35rem;
   	}
   	.card-title {
   		width: 100%;
   		font-size: 150%;
   		text-align:center;
   	}
   	.card-text {
   		text-align: left;
   	}
   }
	.ctaOne {
		background-color: $foamgreen;
		color: $white;
		border-top-left-radius: 42px;
		border-bottom-left-radius: 42px;
	}
	.ctaTwo {
		background-color: $seagreen;
		color: $white;
		margin-top: 35px;
	}
	.ctaThree {
		background-color: $purple;
		color: $white;
	}
	.ctaFour {
		background-color: $darkgold;
		margin-top: 35px;
		border-top-right-radius: 42px;
		border-bottom-right-radius: 42px;
		ul {
			margin-bottom: 0;
		}
		li {
			padding:16px;
			font-size: 115%;
			white-space: nowrap;
		}
		.oddrow {
			background-color: $gold;
		}
	}
	.news {
		background-color: $white;
		border: solid $seagreen 2px;
		color: black;
		margin-top: 0;
		img {
			opacity: 1;
		}
   	.card-body {
   		text-align: left;
   		padding: 10px 14px 4px 14px;
   	}
   	.card-title {
   		font-size: 105%;
   		font-weight: 600;
   	}
   	.card-text {
   		font-size: 90%;
   		margin-bottom: 0;
   	}
   	a.see-more {
   		float: right;
   		padding-bottom: 10px;
   		padding-right: 10px;
   		color: $seagreen;
   	}
	}
	.events {
		background-color: $white;
		border: solid $purple 0;
		color: black;
		margin-top: 0;
		img {
			opacity: 1;
		}
   	.card-body {
   		text-align: left;
   		padding: 14px 21px 14px 21px;
			border: solid $purple 2px;
			max-height: 180px;
			overflow:hidden;
   	}
   	.info {
   		margin: 4px 0;
   		position: relative;
   		.when {
   			width: 55%;
   			color: $white;
   			background-color: $purple;
   			font-size: 100%;
   			display: inline-block;
   			padding: 7px;
   			text-align:center;
   		}
   		.details {
   			width: 43%;
   			position: absolute;
   			right: 0;
   			color: $white;
   			background-color: $purple;
   			font-size: 103%;
   			opacity: .75;
   			display: inline-block;
   			padding: 7px;
   			text-align:center;
   			margin-right: 0;
   		}
   	}
	}
	.events.ctaOne {
 		.card-body {
			border-bottom-left-radius: 42px;
 		}
 	}
	.events.ctaFour {
 		.card-body {
			border-bottom-right-radius: 42px;
 		}
 	}
}

.vertical-stripes {
  background: repeating-linear-gradient( 
  90deg,
  #fff,
  #fff 20px,
  #eee 20px,
  #eee 40px);
  height: 84px;
  width: 7px;
  margin-top: 63px;
  text-align: center;
  width: 100%;
  h1 {
  	white-space: nowrap;
  	padding:14px;
  	font-size: 250%;
  	letter-spacing:.15rem;
  	background-color:white!important;
  	width: 25%;
  	margin:auto;
  	height:84px;
  }
}

	html, body {
		background-color: #f1f1f1;
	}
	#wrapper {
		min-height: 100%;
		position: relative;
	}
	h1 {
		margin-top:14px;
		font-size: 28px;
		margin-bottom: 21px;
	}
	h2 {
		font-size: 21px;
		margin-top:21px;
		background-color: #f1f1f1;
		padding:14px 7px;
		border-left: solid #903 1px;
	}
	h3 {
		font-size: 16px;
		margin-top:21px;
		background-color: #f1f1f1;
		padding: 10px;
		border-left: solid #903 1px;
	}

.navbar-light .navbar-nav .nav-link {
	color: #fff;
	font-size:1.10rem;
}
.flash {
	background-color: cornsilk;
	padding:10px;
	width: 100%;
	text-align: center;
	margin-bottom: 21px;
	color: green;
	.error {
		color: red;
	}
}
a:not(.dropdown-item) {
		color: #903;
	a:active, a:hover, a:visited {
		color: #903;
	}
}
#content {
	margin: 0;
	background-color: #fff;
	padding-bottom: 42px;
	min-height: calc(100vh - 291px)
}
#skip-link {
	left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
  a, a:visited, a:link {
  	background: rgba(0,0,0,0.6);
    color: white;
    display: block;
    font-size: 0.94em;
    line-height: 1.7;
    padding: 1px 10px 2px 10px;
    text-decoration: none;
  }
}
.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	overflow: hidden;
	height: 1px;
}
form {
	#q-error, #email-error {
	 	color: red;
	 	font-size: 85%;
 	}
 label {
 	font-weight: 600;
 	padding-right: 10px;
 }
}
.no-padding {
	padding: 0;
}
