
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

	@import "bootstrap";
	@import "partials/_vars.scss";

#home {
	position: relative; top: -47px; 
}
#ambler {
	position: relative; top: -126px; 
}
.minipage h1.title {
	position: relative;
	text-align: center; 
	color: white; 
	top: -140px;
	font-size: 260%;
}
html, body {
	background-color: $white;
}
#wrapper {
	min-height: 100%;
	position: relative;
	background-color: $white;
}
h1 {
	margin-top:14px;
	font-size: 28px;
	margin-bottom: 21px;
}
h2 {
	font-size: 21px;
	margin-top:21px;
	background-color: $white;
	padding:14px 7px;
	border-left: solid $aged-red 1px;
}
h3 {
	font-size: 16px;
}


.navbar-light .navbar-nav .nav-link {
	color: $white;
	font-size:1.10rem;
}
.flash {
	background-color: cornsilk;
	padding:10px;
	width: 100%;
	text-align: center;
	margin-bottom: 21px;
	color: green;
	.error {
		color: $red;
	}
}
a:not(.dropdown-item) {
		color: #903;
	a:active, a:hover, a:visited {
		color: #903;
	}
}
#content {
	margin: 0;
	background-color: $white;
	padding-bottom: 42px;
	min-height: calc(100vh - 291px)
}
#skip-link {
	left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
  a, a:visited, a:link {
  	background: rgba(0,0,0,0.6);
    color: white;
    display: block;
    font-size: 0.94em;
    line-height: 1.7;
    padding: 1px 10px 2px 10px;
    text-decoration: none;
  }
}
.element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	overflow: hidden;
	height: 1px;
}
form {
	#q-error, #email-error {
	 	color: $red;
	 	font-size: 85%;
 	}
 label {
 	font-weight: 600;
 	padding-right: 10px;
 }
}
.no-padding {
	padding: 0;
}
.breadcrumbs {
	padding-left: 35px;
	margin-top: 7px;
	a {
		display: inline-block;
		color: $dark-grey;
	}
	a::after {
		content: ' > ';
	}
}
.vertical-stripes {
  background: repeating-linear-gradient( 
	  90deg,
	  #fff,
	  #fff 20px,
	  #eee 20px,
	  #eee 40px);
  height: 56px;
  margin-top: 63px;
  text-align: center;
  width: 100%;
  h1 {
  	padding: 0;
		background-color: transparent!important;
		span {
			display: inline-block;
	  	white-space: nowrap;
	  	padding: 2px 14px;
	  	font-size: 150%;
	  	letter-spacing:.15rem;
	  	background-color:white!important;
	  	color: $dark-grey;
	  	margin:auto;
	  	height:56px;
  	}
  }
}
.vertical-stripes-sm {
  background: repeating-linear-gradient( 
  90deg,
  #fff,
  #fff 18px,
  #eee 10px,
  #eee 30px);
  height: 2.75rem;
  text-align: center;
  margin-bottom: 35px;
  width: 100%;
  h2 {
  	padding: 0;
		background-color: transparent!important;
		span {
			display: inline-block;
	  	white-space: nowrap;
	  	padding: 2px 14px;
	  	font-size: 150%;
	  	letter-spacing:.15rem;
	  	background-color:white!important;
	  	color: $dark-grey;
	  	margin:auto;
	  	height:88px;
  	}
  }
}
