/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

$grid-breakpoints: (
  xs: 0,
  sm: 650px,
  md: 767px,
  lg: 1040px,
  xl: 1440px
);

$container-max-widths: (
  sm: 750px,
  md: 1040px,
  lg: 1200px,
  xl: 1600px
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    12: 12%,
    16: 16%,
    18: 18%,
    20: 15%,
    22: 22.5%,
    23: 23%,
    25: 25%,
    30: 30%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

@import "bootstrap";
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "partials/*";
@import "*";
@import "partials/_vars.scss";
@import "font-awesome";

.print-only {
  display: none;
}