@import "partials/_vars.scss";

.container-lg.blogs {
	margin-top: 1.5rem;
  h1 {
    font-family: roboto;
    border-left: solid $red 3px;
    padding-left: 14px;
    color: $royal-blue;
    @media (max-width: 1040px) {
      margin-left: 7px;
    }
  }

  h2 {
    font-family: faustina;
  }

  @media (max-width: 1040px) {
    padding-left: 0;
    padding-right: 0;
  }
	
	.page-title {
		margin-bottom: 14px;
	}

	.highlights {
		@media (max-width: 1040px) {
	    padding-left: 15px;
	    padding-right: 15px;
    }
    .highlight {
      background-color: $lighter-grey;
      margin-top: 21px;
      max-height: 350px;
      height: 350px;
      padding-top: 21px;
      img {
        max-width: 90%;
        max-height: 222px;
        height: 222px;
      }
    }
    .highlight-caption {
      background-color: $royal-blue;
      color: $white;
      padding: 7px 14px;
      min-height: 100px;
      max-height:107px;
      height: 107px;
      @media (max-width: 1040px) {
        height: auto;
        max-height: 100%;
      }
      h2 {
        a {
          color: $white;
        }
      }
    }
	}

  .recent-posts, .tagged-posts {
      .card {
        float: left;
        width: 22%;
        max-width: 22%;
        min-width: 280px;
        margin: 14px;
        height: auto;
        .card-title {
          font-size: 110%;
        }
        .att {
          position: relative;
          bottom: 0;
          a {
            text-decoration: underline;
          }
        }
      }
    .blogpost {
      border: solid $royal-blue 2px;
      a {
        color: $royal-blue;
      }
      a:hover {
        text-decoration: underline;
      }
      .tags {
        position: absolute;
        bottom: 0;
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

	#all-blogs {
		margin-top: 42px;
		margin-left: -3px;
		margin-right: 0;
		background-color: $lightest-grey;
    border-bottom: solid #001E61 2px;
		padding: 0;
		.section-title {
			margin-bottom: 14px;
			h2 {
				color: $black;
				font-size: 135%;
				padding: 14px 14px 14px 0;
				margin-bottom: 0;
			}
		}
		ul {
	    -webkit-column-gap: 80px;
	    -moz-column-gap: 80px;
	    column-gap: 80px;
	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
      column-rule: solid $royal-blue 1px;
	    @media (max-width: 1040px) {
		    -webkit-column-count: 1;
		    -moz-column-count: 1;
		    column-count: 1;
	    }
	    li {
	    	a {
	    		color: $royal-blue;
          font-family: roboto;
	    	}
	    }

		}
	}
}
