// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Can't seem to define this in applicaiton.scss. So, for now, it stays here
@import "administrate/library/_variables.scss";
@import "partials/_vars.scss";

div.required  label::after {
    content: " * ";
    color: $red;
  }

.building-description {
	h1 {
		padding-left: 14px;
		@media screen and (max-width: 1200px) {
			padding-left: 0;
		}
	}
	font-size: 115%;
	padding-top: 7px;
	margin: auto;
	background-color: #eee;
	height: auto;
	max-width:680px!important;
	height:450px;
	div.text {
		padding:21px;
		margin:auto;
	}
	padding-right:21px;
	@media screen and (max-width: 1200px) {
		padding-right: 0;
	}
}
.building-image {
	max-height:450px;
	overflow:hidden;
	img {
		min-height:450px;
		@media screen and (max-width: 1200px) {
			padding-left: 0;
		}
	}
}
.phone {
	font-size: 120%;
}
.address {
	line-height: 1.75rem;
}
.email {
	font-size: 95%;
	a {
		color: $white;
		text-decoration: underline;
	}
}

.ctaRow.building-info {
	max-width: 1420px;
	margin-left: auto;
	margin-right: auto;
	.card {
		margin:auto;
		padding-top: 2.75rem;
		max-width: 415px;
		min-width: 415px;
		height: 290px;
		position: relative;
		line-height: 3.0rem;
			a {
				color: $white;
			};
		font-size: larger;
		margin-bottom: 21px;
	}
	.card-title {
		position: absolute;
		bottom: 0;
		margin-bottom: 0;
	}
	.ctaLast {
		background-color: $purple;
		padding-top: 0;
		max-width: 415px;
		min-width: 415px;
		.card-title.complement {
			background-color: $purple-complement;
			color: $black;
		}
		.card-body {
			padding:0;
		}
		img {
			opacity: 1;
			object-fit: cover;
		}
	}

}
.spacesRow {
	margin-left: 77px;
	margin-right: 77px;
	margin-bottom: 35px;
 	.ctaTwo .related_space {
 		text-align: center;
		border: solid $purple 2px;
		border-radius: 50%;
 		background-color: $white;
 		color: $black;
 		overflow: hidden;
 		display:inline-block;
    padding: 0;
    margin-top: 35px;
    line-height: 100px;
    width: 200px;
    height: 190px;
 		img {
 			object-fit: cover;
 			min-height: 100%;
 		}
 	}
 	.card-body {
 		padding-top: 7px;
 		width: 100%;
 		text-align: center;
 	}
 }

 #searchFields.building-show {
	position: relative;
	width: 100%;
	form {
		width: 60%;
		margin:auto;
		position:relative;
		top: -27px;
	}
}
