@import "partials/_vars.scss";

.building-show {
	margin-top: 35px;
	margin-bottom: 21px;

	.building-contact {
		li {
			padding-left: 35px;
	    background: rgba(255,255,255,0.6);
	    background-position: 0 center;
	    background-repeat: no-repeat;
	    background-size: 42px 42px;
			line-height: 1.1rem;
			height: 42px;
			span {
				vertical-align: middle;
				padding-top: 6px;
				display: inline-block;
			}
		}
		li.lib_location {
	    background: rgba(255,255,255,0.6);
	    /*background-position: 0 0;*/
	    background-repeat: no-repeat;
	    background-size: 32px 32px;
			background-image: url('small_location.png');
		}
		li.lib_phone {
	    background: rgba(255,255,255,0.6);
	    /*background-position: 0 0;*/
	    background-repeat: no-repeat;
	    background-size: 32px 32px;
			background-image: url('small_phone.png');
		}
		li.lib_email {
	    background: rgba(255,255,255,0.6);
	    /*background-position: 0 0;*/
	    background-repeat: no-repeat;
	    background-size: 32px 32px;
			background-image: url('small_email.png');
		}

	}

	.building-map {
		text-align: center;
		overflow: hidden;
		img {
			opacity: 1;
			object-fit: cover;
			height: 250px;
			width: 1096px;
			max-height: 250px;
			min-height: 250px;
			max-width: 1096px;
			min-width: 1096px;
			@media screen and (max-width: 984px) {
				width: 75%;
				max-width: 75%;
				min-width: 75%;
				height: auto;
				max-height: 50%;
				min-height: 50%;
			}
			
		}
	}
	
	.phone {
		font-size: 120%;
	}
	.address {
		line-height: 1.75rem;
		font-weight: 100;
	}
	.email {
		font-size: 95%;
		a {
			color: $white;
			text-decoration: underline;
		}
	}

	.rightside-building {
		@media screen and (max-width: 984px) {
			padding-top: 0;
		}
		.external-link {
			background-color: $foamgreen;
			padding: 14px;
			border-radius: 7px;
			margin-bottom: 17px;
			width: 100%;
			text-align: center;
			a {
				color: $white;
				text-decoration: underline;
			}
			h2 {
				margin-bottom: 3px;
			}
		}
		.related-policies {
			h2 {
				margin-top: 1.35rem;
			}
			ul {
				border: solid $seagreen 1px;
				border-radius: 7px;
				padding: 14px;
				padding-left: 28px;
				overflow-wrap: break-word;
				li {
					color: $light-grey;
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}