// Place all the styles related to the buildings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "administrate/library/_variables.scss";

.field-unit--required-phone-field {
  label {
  position: relative;
  top: -14px;
  }
}

.field-unit__label {

  label[for="building_name"] {
    color: $red;
   }
  label[for="building_name"]::after {
    content: " * ";
   }
  label[for="building_description"] {
    color: $red;
   }
  label[for="building_description"]::after {
    content: " * ";
   }
  label[for="building_address1"] {
    color: $red;
   }
  label[for="building_address1"]::after {
    content: " * ";
   }
  label[for="building_temple_building_code"] {
    color: $red;
   }
  label[for="building_temple_building_code"]::after {
    content: " * ";
   }
  label[for="building_directions_map"] {
    color: $red;
   }
  label[for="building_directions_map"]::after {
    content: " * ";
   }
  label[for="building_phone_number"] {
    color: $red;
   }
  label[for="building_phone_number"]::after {
    content: " * ";
   }
  label[for="building_campus"] {
    color: $red;
   }
  label[for="building_campus"]::after {
    content: " * ";
   }
}
