@import "partials/_vars.scss";

.collection-show {
	margin-top: 35px;
	.details {
		border-top: green;
		padding-top: 21px;
		h2 {
			margin-top: 21px;
		}
	}
	img.location {
		height:35px;
		width:35px;
		opacity: .5;
	}
	.access-link {
		background-color: $foamgreen;
		padding: 14px;
		border-radius: 7px;
		margin-bottom: 17px;
		a {
			color: $white;
		}
		h2 {
			margin-bottom: 3px;
		}
		@media (max-width: 1039px) {
			margin-top: 35px;
		}
	}
	.collections-external-link {
		background-color: $red;
		padding: 21px;
		text-align: center;
		border-radius: 7px;
		display: inline-block;
		width: 100%;
		margin-bottom: 14px;
		text-decoration: underline;
		text-align: left;
		a {
			color: #fff !important;
		}
  }
}