@import "partials/_vars.scss";

.event-show.container {
	margin-top: 21px;
}
.event-index {
	.intro {
		margin-bottom: 28px;
		font-size: 105%;
		@media (min-width: 0) and (max-width: 1040px) {
			margin-top: 21px;
		}
	}
	.signup {
		margin-top: 21px;
		border: solid #ccc 2px;
		border-radius:7px;
		padding:0 14px 14px 14px;
		text-align:center;
		font-size:125%;
		margin: auto;
		margin-top: 35px;
		h2 {
			border: 0;
		}
		img {
			opacity: 0.5;
			width: 100px;
		}
	}
}
.crumbs {
	margin-bottom:14px;
	color: $red;
	a {
		text-decoration: underline;
	}
}
.exhibits {
	@media (max-width: 1039px) {
		margin-top: 35px;
	}
}
.events {
	h2 {
		padding-top: 0;
		a {
			color: $black;
			font-weight: 600;
			text-decoration: underline;
		}
	}
	
	.upcoming-header {
		background-color:$footer-gray;
		padding: 10px 21px;
		color: $white;
		font-size:150%;
		width: 100%;
		margin: 0 15px 35px 15px;
		font-family: "Roboto Condensed";
	}
	.event {
		border-bottom: solid $lightest-grey 2px;
		margin-bottom: 14px;
		margin-left: 15px;
		margin-right:15px;
	}
}
.exhibits {
	font-family: "Roboto Condensed";
	.exhibits-header {
		padding-right: 14px;
		background-color: $lightest-grey;
		padding: 10px 21px;
		color: $seagreen ;
		font-size:150%;
		margin-bottom: 14px;
	}
	.exhibit {
		font-family: "Roboto Condensed";
		.exhibit_title {
			font-size: 125%;
			font-weight: 600;
			color: $black;
			text-decoration: underline;
		}
		.faustina {
			font-family: "faustina";
		}
		border: solid $seagreen 1px;
		border-radius: 7px;
		background-color: transparent;
		padding: 21px;
		margin-bottom: 14px;
		a {
			font-family: "Roboto Condensed";
		}
		a.location {
			font-weight: 600;
			color: $black!important;
			font-family: "Faustina";
		}
	}
}
.paginator {
	background-color: $lightest-grey;
}
.event_type {
	background-color: $foamgreen!important;
	text-align: center;
	padding: 4px 7px;
	border: solid $foamgreen-complement 1px;
	border-radius: 7px;
	font-size: 90%;
	font-weight: 700;
	color: $white!important;
}
.event_location {
	background-color: $seagreen!important;
	text-align: center;
	padding: 4px 7px;
	border: solid $seagreen 1px;
	border-radius: 7px;
	font-size: 90%;
	font-weight: 700;
	color: $white!important;
}
.event_location, .event_type {
	@media (max-width: 767px) {
		display: block;
	}
}
	a.location {
		font-weight: 600;
		color: $black!important;
	}
	.past-events-button, .video-button {
		background-color: $seagreen;
		padding: 21px;
		color: $white!important;
		font-size: 150%;
		text-align: center;
		border-radius: 7px;
		display: inline-block;
		width: 100%;
		margin-bottom: 14px;
		text-decoration: underline;
		text-align: left;
	}
	.video-button {
		background-color: $foamgreen;
	}
.event-location {
	border: solid $seagreen 1px;
  border-radius: 7px;
  background-color: transparent;
  padding: 21px;
  margin-bottom: 14px;
}
.register-link {
		background-color: $foamgreen;
		padding: 21px;
		border-radius: 7px;
		display: inline-block;
		width: 100%;
		margin-bottom: 14px;
		a {
			font-size: 150%;
			color: $white!important;
			text-decoration: underline;
		}
}
.events_facets {
	padding-bottom: 21px;

	.events_search {
		padding-left: 42px;
	}
	.fa.fa-search {
		position: absolute;
    top: 32px;
    left: 42px;
    font-size: 1.25rem;
    color: #ccc;
	}
	ul {
		margin-top: 10px;
		li {
			padding: 6px 14px;
			padding-right: 7px;
			font-size: 1rem;
			a {
				margin: 0 2px;
				font-size: 1rem;
				color: $black;
			}
		}
	}
	a[data-toggle="collapse"]:after {
		content: "\f105";
    font-family: "FontAwesome";
    font-size: larger;
  	float: right;
  	padding-right: 7px;
	}
	a[aria-expanded="true"]:after {
		content: "\f107";
    font-family: "FontAwesome";
    font-size: larger;
  	float: right;
  	padding-right: 7px;
	}
	.types_header {
		color: #187768;
		font-weight: 600;
	}
	.spaces_header {
		color: #187768;
		font-weight: 600;
	}
	.event_types, .event_spaces {
		.active {
			background-color: $seagreen;
			color: $white;
			margin-left: 4px;
			padding-left: 14px;
			a {
				color: $white;
				font-weight: 900;
			}
		}
	}
	.filter-reset {
		text-align:center;
		margin-top: 42px;
		border-top: solid $seagreen-dark 2px;
		margin-left: 1px;
		margin-right: 1px;
		padding-top: 21px;
		a {
			width:65%;
			border-radius:4px;
			padding: 7px;
			background-color: $white;
			border: solid $seagreen 1px;
			margin-left: auto;
			margin-right: auto;
			color: $seagreen!important;
		}
	}
}