// Place all the styles related to the exhibitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/_vars.scss";

.container.exhibit-show {
	margin-top: 35px;
	h1.page-title {
		@media(max-width:1039px) {
			margin-top: 0;
		}
	}

	.access-link {
		background-color: $foamgreen;
		padding: 14px;
		border-radius: 7px;
		margin-bottom: 17px;
		a {
			color: $white;
			font-family: "Roboto Bold";
		}
		h2 {
			margin-bottom: 3px;
		}
		@media (max-width: 1039px) {
			margin-top: 35px;
		}
	}
	.dates {
		font-size: 1.3rem;
		font-weight: 900;
		margin-bottom: 14px;
	}
	.event-location {
		h3 {
			font-size: 1.25rem;
			font-weight: 900;
			font-family: "Roboto Bold";
		}
		border: solid $seagreen 1px;
	  border-radius: 7px;
	  background-color: transparent;
	  padding: 21px;
	  margin-bottom: 14px;
		font-family: "Roboto Bold";
	  a {
	  	color: $black;
	  	text-decoration: underline;
			font-family: "Faustina";
	  }
	}
	.access-link {
		background-color: $foamgreen;
		padding: 14px;
		border-radius: 7px;
		margin-bottom: 17px;
		a {
			color: $white;
			font-family: "Roboto Bold";
		}
		h2 {
			margin-bottom: 3px;
		}
		@media (max-width: 1039px) {
			margin-top: 35px;
		}
	}
}
