@import "partials/_vars.scss";

.container.finding-aid {
	margin-top: 21px;
	ul.collections {
		line-height: 1.5rem;
		padding-bottom: 28px;
		border-bottom: solid $seagreen-dark 2px;
		li {
			padding-left: 0;
			a {color: $black;}
		}
	}
	ul.subjects {
		line-height: 1.5rem;
		li {
			padding-left: 0;
			a {color: $black;}
		}
	}
  .trix-content {
    h2 {
      margin-top: 21px;
    }
  }
	.access-link {
		background-color: $foamgreen;
		padding: 14px;
		border-radius: 7px;
		margin-bottom: 17px;
		a {
			color: $white;
			text-decoration: underline;
		}
		h2 {
			margin-bottom: 3px;
		}
	}
}

/* Index Page */

.aid-index {
	@media (max-width: 984px) {
		margin-top: 14px;
	}
	a.inline {
		text-decoration: underline;
	}
	.leftside-index {
		padding: 0;
		margin-bottom: 14px;
	}
	ul {
		margin-top: 10px;
		li {
			padding: 6px 14px;
			padding-right: 7px;
			font-size: 1rem;
			a {
				margin: 0 2px;
				font-size: 1rem;
			}
		}
		li.active {
			background-color: $white;
			margin-left: 4px;
			padding-left: 14px;
			font-weight: 900;
		}
	}
	a[data-toggle="collapse"]:after {
		content: "\f105";
	  font-family: "FontAwesome";
	  font-size: larger;
		float: right;
		padding-right: 7px;
	}
	a[aria-expanded="true"]:after {
		content: "\f107";
	  font-family: "FontAwesome";
	  font-size: larger;
		float: right;
		padding-right: 7px;
	}		
	.filter_reset {
		margin-top: 21px;
		padding-top: 14px;
		border-top: solid $seagreen-dark 2px;
	}
}
.aids-filter-reset {
	width:50%;
	background-color: $white;
	text-align:center;
	border: solid $seagreen 1px;
	border-radius:4px;
	padding: 7px;
	margin: 21px auto;
	a {
		color: $seagreen!important;
	}
}

.catalog-link {
  background-color: $seagreen;
  padding: 21px;
  color: #fff !important;
  text-align: center;
  border-radius: 7px;
  display: inline-block;
  width: 100%;
  margin-bottom: 14px;
  text-decoration: underline;
  text-align: left;
}
