@import "partials/_vars.scss";

.container-lg.finding-aid {
	margin-top: 21px;
	ul.collections {
		line-height: 1.5rem;
		padding-bottom: 28px;
		border-bottom: solid $seagreen-dark 2px;
		li {
			padding-left: 0;
			a {color: $black;}
		}
	}
	ul.subjects {
		line-height: 1.5rem;
		li {
			padding-left: 0;
			a {color: $black;}
		}
	}
  .trix-content {
    h2 {
      margin-top: 21px;
    }
  }
}

/* Index Page */

.aid-index {
  a.archive-space-button {
    background-color: $royal-blue;
    // border: solid $royal-blue 1px;
    border-radius: 7px;
    text-align: center;
    padding: 14px;
    color: $white;
    width: 25%;
  }
  #fa-search { margin-top: -32px !important; }
  .fa-search { top: 24px; left: 17px; }
  .fa-search-label { position: relative; top: 5px; left: 0; }
	@media (max-width: 984px) {
		margin-top: 14px;
	}
	a.inline {
		text-decoration: underline;
	}
	.leftside-index {
		padding: 0;
		margin-bottom: 14px;
    width: 25%;
	}
	ul {
		margin-top: 10px;
		li {
			padding: 6px 14px;
			padding-right: 7px;
			font-size: 1rem;
			a {
				margin: 0 2px;
				font-size: 1rem;
			}
		}
		li.active {
			background-color: $white;
			margin-left: 4px;
			padding-left: 14px;
			font-weight: 700;
		}
	}
	.finding-aids-subjects, .finding-aids-collections {
		color: $white;
	}		
	.filter_reset {
		margin-top: 21px;
		padding-top: 14px;
		border-top: solid $seagreen-dark 2px;
	}
  .aids {
    .aid {
      font-size:larger;
      font-weight:600;
      margin:10px 15px;
      padding-bottom: 14px;
      padding-left: 0;
      border-bottom:solid #ccc 1px;
    }
  }
}
.aids-filter-reset {
	width:50%;
	background-color: $white;
	text-align:center;
	border: solid $seagreen 1px;
	border-radius:4px;
	padding: 7px;
	margin: 21px auto;
	a {
		color: $seagreen!important;
	}
}

.catalog-link {
  background-color: $red;
  color: #fff !important;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  width: 100%;
  margin-bottom: 14px;
  text-decoration: none;
}

.fa.paginator {
  border-left: solid $white 14px;
  margin-top: 21px;
}