@import "partials/_vars.scss";

form {
	label.collection_check_boxes {
		font-weight: 100;
	}
}
.form {
	margin-top: 21px;
	.radio_buttons {
		.form-check {
			display: inline-block;
			margin-right: 14px;
		}
	}
	.specify-other {
		display: inline-block;
		width: auto;
	}
	.form_affiliation, .form_material_type {
		display: inline-block!important;
	}
	.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:focus-within , .btn-primary:visited  {
		background-color: $seagreen!important;
		border-color: $seagreen!important;
		padding-top: 3px;
	}
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
abbr[title="required"] {
  color: $red;
  text-decoration: none!important;
  cursor: default!important;
 }

fieldset.form-section {
	border: solid #ccc 2px;
	padding: 21px;
	border-radius:7px;
	margin-bottom: 35px;
	legend {
		width: auto;
		padding: 0 21px;
	}
	.form-group {
		legend {
			padding-left: 0;
			margin-bottom: 0.5rem;
		}
	}
}

.form-group.required.form_event_start, 
.form-group.required.form_department {
	label {
		font-size: 125%;
	}
}

.form-control-label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-form-label {
  padding-top: calc(0.375rem + 1px) !important;
}

fieldset {
  margin-top: 1.5rem;
}

.fieldset-border {
  border: solid #ccc 2px;
  padding: 21px;
  border-radius: 7px;
}

.fieldset-legend {
  width: auto;
  padding: 0 21px;
}