#searchFields.spring {
  background: url('spring.jpg') no-repeat;
  background-position: 0 50%;
  background-size: cover;
}
#searchFields.summer {
  background: url('summer.jpg') no-repeat;
  background-position: 0 50%;
  background-size: cover;
}
#searchFields.fall {
  background: url('fall.jpg') no-repeat;
  background-position: 0 50%;
  background-size: cover;
}
#searchFields.winter {
  background: url('winter.jpg') no-repeat;
  background-position: 0 50%;
  background-size: cover;
}
