@import "partials/_vars.scss";

html, body {
  background-color: $white;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  position: static;
  overflow: scroll;
  font-family: "Roboto";
  color: $black;
}

h1 {
  margin-top:14px;
  font-size: 220%;
  margin-bottom: 21px;
  font-family: "Faustina";
  font-weight: 800;
}
h2 {
  font-size: 160%;
}
h3 {
  font-size: 125%;
  }
h4,h5,h6 {
  font-size: 100%;
}

strong, .strong {
  font-family: 'Roboto Bold';
}

.flash {
  background-color: $crystal-blue;
  padding:10px;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  border-bottom: solid $new-gold 7px;
  color: $royal-blue;
  font-family: "Roboto";
  .error {
    color: $red;
  }
}

a {
  text-decoration: none;
}
a:not(.dropdown-item) {
    color: $red;
  a:active, a:hover, a:visited {
    color: $red;
  }
}
a.inline {
  text-decoration: underline;
}
.back-button {
  color: $red;
}
#content {
  position: relative;
  z-index: 10;
  background-color: $white;
}
.home #content {
  margin-top: 46px;
  padding-bottom: 0!important;
}
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
  a, a:visited, a:link {
    background: rgba(0,0,0,0.6);
    color: white;
    display: block;
    font-size: 0.94em;
    line-height: 1.7;
    padding: 1px 10px 2px 10px;
    text-decoration: none;
  }
}
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  height: 1px;
}
.home #mobile-search-button .navbar-toggler-icon {
  display: none;
}
form {
  #q-error, #email-error {
     color: $red;
     font-size: 85%;
   }
 label {
   font-weight: 600;
   padding-right: 10px;
 }
}
.no-padding {
  padding: 0;
}
.breadcrumbs {
  margin-bottom: 17px;
  color: $red;
}

img {
  max-width: 100%;
}

img.map {
  min-height: 100%;
  height: 100%;
  max-height: 100%!important;
}

blockquote {
  margin: 21px;
}

marquee {
  color: $red;
}

.covid-alert {
  font-family: 'Roboto';
  background-color: #e5edf8;
  color: $royal-blue;
  font-size: 1.35rem;
  padding: 21px 0 14px 0;
  p {
    display: block;
    padding-left: 7px;
  }
  .covid-border {
    border-top: solid $new-gold 10px;
    border-bottom: solid #bc7254 10px;
    height: 1px;
  }
}

.covid-detail {
  .detail-1 {
    height: 10px;
    background-color: $new-gold-light;
  }
  .detail-2 {
    height: 10px;
    background-color: $new-gold-light-accent;
  }
}

.covid-alert.home {
  margin-bottom: 0;
  margin-top: 4px;
}

.secondary-covid-alert {
	font-family: 'Roboto';
	background-color: #e5edf8;
	border-top: solid $red 6px;
	margin-bottom: 14px;
	padding: 10px 0;
  strong {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 1.35rem;
    display: block;
    text-align: center;
  }
  p {
    display: block;
    padding-left: 7px;
  }
}

.press-button {
  border: outset #ccc 1px;
  background-color: #fff !important;
  padding: 10px;
  border-radius: 7px;
  vertical-align: middle;
  margin-bottom: 14px;
  font-family: roboto;
  font-size: 1.25rem;
}

.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.bl-blue {
  border-left: solid $royal-blue 3px;
  padding-left: 10px;
}
.bl-red {
  border-left: solid $red 3px;
  padding-left: 10px;
}
.bg-red {
  background-color: $red;
}
.bg-dk-red {
  background-color: $dark-red;
}
.faustina {
  font-family: faustina !important;
}
.roboto-bold {
  font-family: "Roboto Bold";
}
.roboto-light {
  font-family: "Roboto Light";
}
.display-5 {
  font-size: 2.75rem;
}
.white {
  color: $white;
}
.blue {
  color: $royal-blue;
}
.red {
  color: $red;
}
i.fa-search {
  content: "\f002";
  font-family: "FontAwesome";
  display: inline-block;
  position:relative;
}
.pointer {
  cursor: pointer;
}