@import "partials/_vars.scss";

.minipage {
	.page-title {
		font-size: 400%;
		margin-bottom: 42px;
		@media (max-width: 1039px) {
			font-size: 210%;
			padding-top: 21px;
		}
	}
	.page-title.scop {
		font-size: 300%;
	}
	.banner-image {
		background-size: cover!important;
		height: 240px;
		margin-bottom: 21px;
		@media (max-width: 1039px) {
			display: none;
		}
	}
	.banner-image.hsl {
		background:asset-data-url('hsl-banner.jpg') 0 25% no-repeat;
	}
	.banner-image.dsc {
		background:asset-data-url('dsc-banner.jpg') 0 15% no-repeat;
	}
	.banner-image.scop {
		background:asset-data-url('scop-banner.jpg') 0 40% no-repeat;
	}
	.banner-image.scrc {
		background:asset-data-url('scrc-banner.jpg') 0 70% no-repeat;
	}
	.banner-image.blockson {
		background:asset-data-url('blockson-banner.jpg') 0 66% no-repeat;
		background-position: center 60%;
	}
	.locations {
		background-color: $foamgreen;
		padding: 21px 0;
		margin-bottom: 21px;
		a {
			display: inline-block;
			margin-left: 21px;
			padding-right: 21px;
			color: $white;
			font-size: 135%;
			font-family: "Roboto Condensed";
			@media (max-width: 1039px) {
				font-size: 130%;
			}
		}
		hr {
			background-color: $white;
			width: 100%;
		}
	}
	.left-links {
		@media (max-width: 1039px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.contact {
		background-color: $seagreen;
		padding: 0;
			padding-right: 10px;
		font-size: 135%;
		color: $white;
		font-family: "Roboto Condensed";
		@media (max-width: 1039px) {
			margin-bottom: 21px;
		}
		img {
			width: 60px;
		}
		a {
			color: $white;
		}
		p {
			margin-right: 7px;
			padding: 10px 0;
			margin-left: 107px;
			a {
				overflow:hidden;
				height: 79px;
			}
		}
		div.one-liner {
			height: 79px!important;	
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
			a {
				@media (min-width: 1040px) {
					position: relative;
					left: 7px;
				}
			}
		}
		div.two-lines {
			height: 79px!important;
			font-family: "Roboto Condensed";
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
			a {
				@media (min-width: 1040px) {
					position: relative;
					left: 7px;
				}
			}
			img {
				float: left!important;
				position: relative;
				top: -7px;
				@media (min-width: 450px) {
					position: relative;
					top: -10px;
				}
				@media (max-width: 1039px) {
					position: relative;
					top: 0px;
				}
				@media (min-width: 1040px) {
					padding-top: 0;
					padding-bottom: 0;
					top: 0;
				}
			}
		}
		.boxtroll.two-lines {
			padding-top: 14px;
			padding-right: 14px;
			height: auto;
			padding-bottom: 14px;
			font-family: "Roboto Condensed";
		}
		hr {
			background-color: $white;
			width: 100%;
			margin: 0;
		}
		.mailer {
			display: inline-block;
			height: 79px; 
			padding-top: 21px;
		}
	}
	#description-container {
		@media (max-width: 1039px) {
			padding-left: 0;
			padding-right: 0;
		}
		.description {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 35px;
		}
	}

	.links-container {
		div.col-12 {
			@media (max-width: 1039px) {
			padding-left: 0;
			padding-right: 0;
			}
		}
		.links {
			background-color: $lightest-grey;
			padding:14px;
			margin-bottom: 28px;
			@media (max-width: 1039px) {
				margin: 0;
			}
			li {
				margin-bottom: 7px;
				a {
					color: $black;
				}
			}
			h2 {
				color: $seagreen;
				padding-bottom: 14px;
				border-bottom: solid $seagreen 2px;
				a {
					color: $seagreen;
				}
			}
		}
	}

	li.all-events {
		background-color: white;
		padding: 6px;
		margin-top: 14px;
		margin-left: 14px;
	}
	h2.hsl-links-title a {
		color: $seagreen!important;
	}
}
