@import "partials/_vars.scss";

.minipage {
  .page-title {
    font-size: 300%;
    margin-top: 14px;
    margin-bottom: 42px;
    @media (max-width: 1039px) {
      font-size: 210%;
      padding-top: 21px;
    }
  }
  .page-title.scop {
    font-size: 300%;
  }
  .banner-image {
    background-size: cover!important;
    height: 240px;
    border-bottom: solid $red 10px;
    margin-bottom: 21px;
    @media (max-width: 1039px) {
      display: none;
    }
  }
  .banner-image.hsl {
    background: url('hsl-banner.jpg') 0 20% no-repeat;
  }
  .banner-image.dsc {
    background: url('dsc-banner.jpg') 0 15% no-repeat;
  }
  .banner-image.scop {
    background: url('scop-banner.jpg') 0 40% no-repeat;
  }
  .banner-image.scrc {
    background: url('scrc-banner.jpg') 0 70% no-repeat;
  }
  .banner-image.scrc-visit {
    background: url('scrc-plan-your-visit-banner.jpg') 0 21% no-repeat;
  }
  .banner-image.blockson {
    background: url('blockson-banner.jpg') 0 66% no-repeat;
    background-position: center 60%;
  }

  .left-links {
    margin-bottom: 21px;
    ul {
      border-bottom: solid $new-gold 4px;
      li {
        padding: 10px;
        font-size: 130%;
        a, span {
          display: block;
          padding: 10px 5px;
          color: $black;
          font-family: "roboto";
          font-weight: 400;
          @media (max-width: 1039px) {
            font-size: 130%;
          }
        }
      }
      li:nth-child(odd) {
        background-color: $lighter-grey;
      }
    }
  }

  .description {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;
    font-size: 1.15rem;
    font-family: "Roboto";
    font-weight: 400;
    color: $black;
  }

  .links-container {
    border-top: solid $lighter-grey 2px;
    padding-top: 49px;
    div.col-12 {
      @media (max-width: 1039px) {
      padding-left: 0;
      padding-right: 0;
      }
    }
    .links {
      margin-bottom: 28px;
      padding-left: 0;
      padding-right: 14px;
      @media (max-width: 1039px) {
        margin: 0;
      }
      ul {
        margin-left: 21px;
        li {
          margin-bottom: 7px;
          line-height: 1.75;
          a {
            color: $black;
            font-size: 1.2rem;
            font-family: "roboto";
            font-weight: 400;
          }
        }
      }

      h2 {
        border-left: solid $red 4px;
        padding-left: 14px;
        a {
          color: $black;
        }
      }
    }
    .links:nth-child(odd) {
      border-right: solid $lighter-grey 2px;
      padding-right: 42px;
      @media (max-width: 1039px) {
        padding-left: 28px;
      }
    }
    .links:nth-child(even) {
      padding-left: 28px;
    }
    .links:last-of-type {
      border-right: 0;
    }
  }

  li.all-events {
    margin-top: 14px;
    margin-left: 14px;
    @media (max-width: 1039px) {
      margin-left: 0;
    }
  }
  h2.hsl-links-title a {
    color: $seagreen!important;
  }
}

.minipage.hsl {
  .links-container {
    border-top: 0;
    padding-top: 0;
  }
}