@import "partials/_vars.scss";

.contact-us {
	p {
		width: 80%;
		margin: auto;
		a {
			color: $red;
			/*text-decoration: underline;*/
		}
	}
	h2 a {
		color: $red;
	}
	.chat-box div {
		min-height: 420px;
		max-height: 420px;
		overflow: hidden;
	}
}
#todays-date, #todays-hours-in-page {
	h2 {
		color: $seagreen;
		font-size: 145%;
		margin-bottom: 0;
	}
	a {
		color: $black;
		text-decoration: underline;
	}
}
#todays-date {
	padding-right: 0;
	padding-left: 4%;
	.inner-date {
		border-left: solid $foamgreen 1px;
		padding-left: 14%;
	}
	@media (max-width: 649px) {
		margin-top: 14px;
		padding-left: 14px;
		.inner-date {
			border-left: 0;
			padding-left: 0;
		}
	}
}
#search-in-page {
	background-color: $lightest-grey;
	padding: 14px;
	text-align: center;
	form {
			width: 100%;
			margin:auto;
			input[type="submit"] {
				margin:0;
				padding-left: 0;
				height: 56px;
				max-height: 56px;
				width: 61px;
				background-color: $foamgreen;
				background-image:asset-data-url('search.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 42px 42px;
				border-radius: 4px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border: solid $foamgreen 2px;
				border-left: 0;
				position: relative;
				top: 10px;
				left: -7px;
			}
				@-moz-document url-prefix() {
				  input[type="submit"]{
				    top: -5px;
					  @media (max-width: 1039px) {
					    top: 0;
					  }
				  }
				}
		}
		#librarySearch {
			height: 56px;
			max-height: 56px;
			font-size: 1.75rem;
			font-style: normal;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0;
			padding-left: 14px;
			display: inline-block;
			width: 76%;
			color: $med-grey;
			border: solid $foamgreen 1px;
			position: relative;
			top: -6px;
			@-moz-document url-prefix() {
			  @media (max-width: 1039px) {
			    top: 5px;
			  }
			}
		}
		#librarySearch::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-style: normal;
		  font-family: 'Roboto Condensed';
		}
		#librarySearch::-moz-placeholder { /* Firefox 19+ */
		  font-style: normal;
		  font-family: 'Roboto Condensed';
		}
		#librarySearch:-ms-input-placeholder { /* IE 10+ */
		  font-style: normal;
		  font-family: 'Roboto Condensed';
		}
		#librarySearch:-moz-placeholder { /* Firefox 18- */
		  font-style: normal;
		  font-family: 'Roboto Condensed';
		}

}
#home {
	a {
		font-family: "Roboto Condensed";
	}
	.page-search-container {
		.fa.fa-search {
			display: inline-block;
		}
	}
	.container.under {
		@media screen and (max-width: 1040px) {
			padding: 0;
		}
	}
	.row.ctaRow {
		margin-top: -77px;
		padding-bottom: 35px;
		@media screen and (max-width: 1040px) {
			margin-top: 7px;
			padding: 0;
			.col-12 {
				margin-bottom: 0;
			}
		}
		.cta-white {
			background-color: $white;
			border-bottom: solid $black 1px;
			padding-right: 0;
	  	img {
				width: 84px;
				opacity: .65;
			}
			a {
				color: $red;
				font-size: 145%;
				padding-left: 5%;
			}
			@media screen and (min-width: 1039px) {
				padding-left: 0;
				padding-bottom: 14px;
				text-align: center;
				border: solid $footer-grey 2px;
				border-radius: 7px;
		  	img {
					width: 101px;
					opacity: .65;
					display: block;
					margin: auto;
				}
				a {
					color: $red;
					font-size: 135%;
					padding-left: 0;
				}
			}
		}
	}
	#hollywood-squares {
		background-color: $lightest-grey;
		padding-top: 56px;
		padding-bottom: 56px;
		@media screen and (max-width: 1040px) {
			padding-top: 0;
			padding-bottom: 0;
		}
		a {
			color: $white;
			font-size: 145%;
		}
		img.icon {
			width: 68px;
      position:relative;
      top: -3px;
		}
		.caption {
			color: $white;
			background-color: $black;
			height:45px;
			font-size: larger;
			text-align: center;
			a.lynde {
				font-size: 135%;
			}
			a.price, a.gobel {
				font-size: smaller;
				text-decoration: underline;
				padding-top: 11px;
				float: right;
				padding-right: 21px;
			}
		}
		.catalog-search {
			background-color: $seagreen;
			padding: 0;
			.square  {
				height: 100%;
				padding-top: 3%;
				padding-left: 21px;
				border-bottom: solid $white 1px;
				@media screen and (max-width: 1039px) {
					padding-top: 0;
					padding-left: 5%;
				}
			}
			.caption {
				position: relative;
        top: 2px;
			}
		}
		.bb-0 {
			border-bottom: solid $white 0!important;
		}
    .h-18.bb-0 {
      @media (max-width: 1040px) {
        height: 17%!important;
      }
    }
		.news-events {
			.caption {
				@media screen and (max-width: 1039px) {
					display: inline-block;
					background-color: $white;
					text-align: left;
					height: 4.5rem;
					padding-top: 17px;
					padding-bottom: 14px;
					a {
						color: $red;
					}
				}
			}
			.events {
				margin-bottom: 35px;
				@media screen and (max-width: 1039px) {
					margin-top: 0;
					margin-bottom: 0;
					border-bottom: solid $black 1px;
					background-color: $white;
					padding-left: 5%;
					img {
						opacity: 0.6;
						width: 84px;
					}
				}
			}
			.news {
				@media screen and (max-width: 1039px) {
					background-color: $white;
					padding-left: 5%;
					img {
						opacity: 0.6;
						width: 84px;
					}
				}
			}
			.lynde {
				@media screen and (max-width: 1039px) {
					color: $black;
					font-size: 83%;
					position: relative;
					top: 4px;
				}
			}
		}
		.locations-links {
			background-color: $foamgreen;
			div.h-18 {
				padding-top: 9%;
				padding-left: 21px;
				padding-right: 21px;
				border-bottom:solid white 1px;
				@media screen and (max-width: 1040px) {
					padding-top: 5%;
					padding-bottom: 5%;
					padding-left: 5%;
				}
			}
			div.h-18.two-lines {
				padding-top: 5%;
				@media screen and (max-width: 1040px) {
					padding-top: 6%;
					padding-bottom: 0;
					padding-left: 5%;
				}
			}
			div.h-20 {
				padding-top: 7%;
				padding-left: 21px;
				padding-right: 21px;
				border-bottom:solid white 1px;
				@media screen and (max-width: 1040px) {
					padding-top: 4%;
					padding-bottom: 3%;
					padding-left: 5%;
				}
			}
			div.h-20.two-lines {
				padding-top: 3%;
				font-size: 100%!important;
				@media screen and (max-width: 369px) {
					// height: 20%!important;
					padding-top: 2%;

					a.not-wrapped {
						display: inline-block;
						margin-top: 2.5%;
					}
				}
			}
			div.h-20.bb-0 {
				@media screen and (max-width: 379px) {

				}
			}

			a {
				font-size: 115%;
			}
			.caption {
				position: relative;
			}
		}
	}
	#searchFields {
		background: transparent asset-data-url('charles.jpg') no-repeat 0% 0%;
		background-position: 0 50%;
		position: relative;
		width: 100%;
		z-index: 0;
		height:385px;
		background-size: cover;
		@media screen and (max-width: 1039px) {
			display: none!important;
		}
		form {
			width: 64%;
			margin:auto;
			position:relative;
			top: 94px;
			/*left: 8%;*/
			@media screen and (min-width: 0) and (max-width: 1039px) {
				top: 14px;
			}
			input[type="submit"] {
				margin:0;
				padding-left: 0;
				height: 56px;
				width: 61px;
				background-color: $foamgreen;
				background-image:asset-data-url('search.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 42px 42px;
				border-radius: 7px;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border: solid $foamgreen 1px;
				border-left: 0;
				position: relative;
				top: 17px;
				left: -7px;
				@media screen and (min-width: 0) and (max-width: 1039px) {
					top: -6px;
				}
			}
			@-moz-document url-prefix() {
			  input[type="submit"]{
			    top: -5px;
				  @media (max-width: 1039px) {
				    top: -5px!important;
				  }
			  }
			}
		}
		#librarySearch {
			height: 56px;
			font-size: 1.75rem;
			font-style: normal;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0;
			padding-left: 14px;
			display: inline-block;
			width: 76%;
			color: $med-grey;
			border: solid $foamgreen 1px;
		}
		#librarySearch::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-style: normal;
		  font-family: 'Roboto Condensed';
		}
		#librarySearch::-moz-placeholder { /* Firefox 19+ */
		  font-style: normal;
		  font-family: 'Roboto Condensed';
		}
		#librarySearch:-ms-input-placeholder { /* IE 10+ */
		  font-style: normal;
		  font-family: 'Roboto Condensed';
		}
		#librarySearch:-moz-placeholder { /* Firefox 18- */
		  font-style: normal;
		  font-family: 'Roboto Condensed';
		}
		#searchOptions {
			position: relative;
			top: 120px;
			width: 100%;
			margin-top: 0;
			margin-left: 0;
			margin-right: 0!important;
			float: none;
			text-align: center;
			ul {
				display: inline-block;
				position: relative;
				padding: 14px 14px;
				padding-top: 7px;
				margin-left: -35px;
				height: 49px;
				font-weight: 100;
				font-size: 1.35rem;
				border: solid $white 1px;
				border-top: 0;
				border-bottom-left-radius: 7px;
				border-bottom-right-radius: 7px;
				text-align: center;
				color: $white;
				background-color: $foamgreen;
				li {
					display: inline-block;
					padding: 0;
					font-family: 'Faustina';
					color: $white;
					border-right: solid $white 2px;
					a {
						color: $white;
						padding-right: 21px;
						padding-left: 21px;
					}
				}
				li:last-child {
					border-right: 0;
				}
			}
			#advancedSearchLink {
				display: inline-block;
				position:relative;
				top: 0;
				padding-left: 21px;
				font-size: 1.15rem;
			}
		}
	}
}

.access-link {
	background-color: $foamgreen;
	padding: 14px;
	border-radius: 7px;
	margin-bottom: 17px;
	a {
		color: $white;
		text-decoration: underline;
	}
	h2 {
		margin-bottom: 3px;
	}
	@media (max-width: 950px) {
		width: 95%;
	}
}
