@import "partials/_vars.scss";

.contact-us {
	p {
		width: 80%;
		margin: auto;
		a {
			color: $black;
			text-decoration: underline;
		}
	}
	h2 {
		color: $red;
	}
	.chat-box div {
		min-height: 420px;
		max-height: 420px;
		overflow: hidden;
	}
}

.minipage.hsl {
	.page-title {
		font-size: 400%;
		margin-bottom: 42px;
	}
	.banner-image {
		background:asset-data-url('hsl-banner.jpg') 0 25% no-repeat;
		background-size: cover;
		height: 240px;
		margin-bottom: 21px;
	}
	.hsl-locations {
		background-color: $foamgreen;
		padding: 21px 0;
		margin-bottom: 21px;
		a {
			padding-left: 21px;
			padding-right: 21px;
			color: $white;
			font-size: 135%;
		}
		hr {
			background-color: $white;
			width: 100%;
		}
	}
	.hsl-contact {
		background-color: $seagreen;
		padding: 0;
		img {
			padding-left: 21px;
		}
		a {
			color: $white;
			font-size: 135%;
		}
		hr {
			background-color: $white;
			width: 100%;
		}
	}
	.hsl-links {
		background-color: $lightest-grey;
		padding:14px;
		margin-bottom: 28px;
		a {
			color: $black;
		}
		h2 {
			color: $seagreen;
			padding-bottom: 14px;
			border-bottom: solid $seagreen 2px;
		}
	}
}