
@import "partials/_vars.scss";

#alphamenu {
		background-color: $light-grey;
		padding: 14px;
		font-size: larger;
	.alphalink {
		display: inline;
		padding: 7px;
		font-size: larger;
		font-weight: 600;
	}
}

.container.staff {
	.heading {
		border-bottom: solid #ccc 2px;
		padding: 21px 0;
		.col-3 {
			font-weight: 600;
			font-size: larger;
		}
	}
	.details {
		border-bottom: solid #ccc 1px;
		padding: 21px 0;
	}
}
.container.person {
	margin-top: 35px;
	.subject-list, .contact-list {
		border: solid $seagreen 1px;
		border-radius: 7px;
		padding: 14px;
	}
	.springshare-appointment {
		display: inline-block;
		background-color: $foamgreen;
		padding: 14px;
		border-radius: 7px;
		margin-bottom: 17px;
		color: $white!important;
		text-decoration: underline;
		font-size: 92%;
		@media (max-width: 750px) {
			width: 100%;
			text-align: center;
		}
	}
	.right-side {
		@media (max-width: 750px) {
			margin-top: 21px;
		}
	}
	.person-block {
		background-color: $lightest-grey;
		padding: 21px;
		.person-name {
			margin-bottom: 14px;
		}
		.job-title {
			font-size: 150%;
			margin-top: 0;
			margin-bottom: 10px;
		}
	}
	.person-block.desktop {
		width: 100%;
		margin: auto 14px;
		padding-bottom: 42px;
	}
}