@import "partials/_vars.scss";

.no-results {
  margin-top: 14px;
}
#icon_filter {
	@media (max-width: 1199px) {
		position: relative;
		left: -3px;
	}
}
.selected-filter {
  .key {
    font-family: Roboto;
    border-left: solid $new-gold 4px;
    padding-left: 10px;
  }
}
.filters {
  background-color: $lighter-grey;
  .filter-links {
    font-family: Roboto;
    @media (max-width: 1199px) {
      max-width: 75%;
      width: 75%;
    }
  }
  #people-search, #m-people-search {
    width: 29%;
    @media (max-width: 1199px) {
      max-width: 100%;
      width: 100%;
    }
    #search {
      width: 28%;
      position: relative;
      left: 0;
      padding-left: 35px;
      @media (max-width: 1199px) {
        max-width: 100%;
        width: 100%;
      }
    }
    i.fa-search {
      position: relative;
      top: 32px;
      left: 16px;
      z-index: 3;
    }
  }
  #people-search, #m-people-search, #people-filters, #m-people-filters {
    input, select {
      font-family: "Roboto Light";
      display: inline-block !important;
      margin-left: 4px !important;
      padding-left: 10px;
      height: 42px;
      border-radius: 0;
      border: solid $black 1px;
      @media (max-width: 1199px) {
        padding-left: 10px;
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
      }
    }
    #department {
      position: relative;
      left: -6px;
      @media (max-width: 1199px) {
        left: 0;
      }
    }
  }
  #m-people-search, #m-people-filters {
    @media (max-width: 1199px) {
      margin-left: 10px;
      max-width: 95%;
      width: 95%;
    }

  }
}

.staff-index {
  font-family: "Roboto Light";
  .label {
    display: block;
    font-family: Faustina-Bold;
    font-weight: 900;
  }
	.person {
    clear: both;
		border-bottom: solid #eee 2px;
		margin-bottom: 21px;
		margin-left: 7px;
		padding-bottom: 14px;
    font-size: 1.15rem !important;
    .p-name {
      font-size: 135%;
      font-weight: 600;
      font-family: Roboto;
      color: $red;
      @media (max-width: 750px) {
        margin-bottom: 10px;
      }
    }
		img {
      min-width: 240px!important;
      max-width: 240px!important;
		}
    ul.details {
      border-left: solid #A32035 2px;
      margin-bottom: 28px;
      @media (max-width: 750px) {
        // border-left: 0;
      }
    }
		.person-actions {
      margin-top: 14px;
      margin-bottom: 21px;
			.view-profile, .springshare-id {
        display: inline-block;
				background-color: $lighter-grey;
				padding: 4px 8px 6px 8px;
				color: $royal-blue;
        font-family: Faustina-Bold;
        white-space: nowrap;
			}
		}
	}
}

.container.person {  /* Person show page */
  font-family: "Roboto Light";
	margin-top: 35px;
  min-height: 52vh;
  img {
    padding-bottom: 7px;
    border-bottom: solid $red 3px;
    @media (min-width: 0) and (max-width: 1199px) {
      min-width: 240px!important;
      max-width: 240px!important;
      border-bottom: 0;
    }
    @media (min-width: 451) and (max-width: 1199px) {
      min-width: 240px!important;
      max-width: 240px!important;
      width: 240px;
      border-bottom: 0;
    }
  }
  .label {
    display: block;
    font-family: Faustina-Bold;
    font-weight: 900;
  }
  .contact-details {
    padding-top: 14px;
    hr {
      background-color: $black;
      height: 1px;
      width:95%;
      margin: auto;
		  @media (max-width: 1199px) {
        margin-bottom: 14px;
      }  
    }
    .col-6 {
      padding-top: 14px;
    }
  }

  .person-actions {
    margin-top: 14px;
    margin-bottom: 14px;
    .libguides-link, .springshare-appointment {
      display: inline-block;
      margin-right: 14px;
      margin-left: 15px;
      background-color: $lighter-grey;
      padding: 4px 8px 6px 8px;
      color: $royal-blue;
      font-family: Faustina;
      @media (max-width: 649px) {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
	.subject-list {
    background-color: $lighter-grey;
		padding: 21px;
		margin-bottom: 14px;
		ul {
			margin-bottom: 0;
		}
		@media (max-width: 1199px) {
			background-color: $white;
      h2 {
        font-size: 1rem;
      }
		}
	}
	.person-block {
		padding: 21px 0;
		width: 100%;
		margin: auto 14px;
		padding-bottom: 42px;
		img {
			margin-top: 7px;
		}
		.person-name {
      font-family: faustina;
      color: $red;
			margin-bottom: 0;
			@media (max-width: 750px) {
				margin-bottom: 0;
			}
		}
		.job-title {
			font-size: 150%;
			margin-bottom: 10px;
		}
    .person-depts {
      margin-left: 21px;
			margin-top: 14px;
      margin-bottom: 18px;
      span {
        border-left: solid $red 2px;
        padding-left: 7px;
      }
    }
	}
}
