@import "partials/_vars.scss";

#icon_filter {
	@media (max-width: 948px) {
		position: relative;
		left: -3px;
	}
}
.leftside-index {
	padding-left: 0!important;
	padding-right: 0!important;
	h2 {
		@media (max-width: 1042px) {
			font-size: 150%;
		}
	}
	ul {
		margin-top: 10px;
		li {
			padding: 6px 14px;
			font-size: 1rem;
			a {
				font-size: 1rem;
			}
		}
		li.active {
			font-family: 'Faustina';
			color: $seagreen;
			margin-right: 5px;
			font-weight: 900;
			a {
				color: $seagreen;
				font-weight: 900;
			}
		}
	}
	a[data-toggle="collapse"]:after {
		content: "\f105";
    font-family: "FontAwesome";
  	float: right;
  	padding-right: 7px;
	}
	a[aria-expanded="true"]:after {
		content: "\f107";
    font-family: "FontAwesome";
  	float: right;
  	padding-right: 7px;
	}
	.list-unstyled.navbar-collapse.collapse {
		height: auto;
		max-height:16rem!important;
		margin-right:4px;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.list-unstyled.navbar-collapse.collapse::-webkit-scrollbar {
    -webkit-appearance: none;
    margin-left: 2px;
	}
	.list-unstyled.navbar-collapse.collapse::-webkit-scrollbar:vertical {
	    width: 11px;
	    border: solid #eee 1px;
	}
	.list-unstyled.navbar-collapse.collapse::-webkit-scrollbar:horizontal {
	    height: 11px;
	}
	.list-unstyled.navbar-collapse.collapse::-webkit-scrollbar-thumb {
	    border-radius: 8px;
	    border: 2px solid #ccc; /* should match background, can't be transparent */
	    background-color: rgba(0, 0, 0, .5);
	}
	.list-unstyled.navbar-collapse.collapse::-webkit-scrollbar-track {
	    background-color: #fff;
	    border-radius: 8px;
	    border: solid #ccc 1px;
	    padding: 2px;
	}
}

.people-filter-reset {
	width:50%;
	background-color: $white;
	text-align:center;
	border: solid $seagreen 1px;
	border-radius:4px;
	padding: 7px;
	margin: 21px auto;
	a {
		color: $seagreen!important;
	}
}

.staff-index {

	.right-side {
		@media (max-width: 1039px) {
			margin-top: 21px;
		}
		.entity-help {
			padding-left: 0;
	    border: solid $seagreen 1px;
	    border-radius: 7px;
	    padding: 14px;
	    overflow-wrap: break-word;
	    line-height: .75;
	    @media (max-width: 1023px) {
	    	margin-top: 14px;
	    }
		}
		.access-link {
			background-color: $foamgreen;
	    padding: 14px;
	    border-radius: 7px;
	    margin-top: 17px;
	    h3 {
	    	margin-bottom: 0;
	    }
	    a {
	    	color: $white;
	    }
		}
	}
	.person {
		border-bottom: solid #eee 2px;
		margin-bottom: 21px;
		margin-left: 7px;
		padding-bottom: 14px;
		img {
			max-width: 100%;
		}
		.person-actions {
			.view-profile {
				background-color: $seagreen;
				padding: 5px 14px 8px 14px;
				color: $white;
				border-radius: 7px;
			}
			.springshare-id {
				background-color: $foamgreen;
				padding: 5px 14px 8px 14px;
				border-radius: 7px;
			}
			@media (max-width: 1039px) {
				a {
					display: block;
					margin-bottom: 4px;
					width: 180px;
				}
			}
		}
	}
}

.container.staff {
	.heading {
		border-bottom: solid #ccc 2px;
		padding: 21px 0;
		.col-3 {
			font-weight: 600;
			font-size: larger;
		}
	}
	.details {
		border-bottom: solid #ccc 1px;
		padding: 21px 0;
	}
}
.container.person {  /* Person show page */
	margin-top: 35px;
	.subject-list, .contact-list {
		border: solid $seagreen 1px;
		border-radius: 7px;
		padding: 14px;
		margin-bottom: 14px;
		ul {
			margin-bottom: 0;
		}
	}
	.springshare-appointment, .libguides-link {
		display: inline-block;
		background-color: $foamgreen;
		padding: 14px;
		border-radius: 7px;
		margin-top: 7px;
		color: $white!important;
		text-decoration: underline;
		font-size: 92%;
		width: 100%;
	}
	.libguides-link {
		background-color: $red;
	}
	.right-side {
		@media (max-width: 750px) {
			margin-top: 21px;
		}
	}
	.person-block {
		background-color: $lightest-grey;
		padding: 21px;
		.person-name {
			margin-bottom: 14px;
			@media (max-width: 750px) {
				margin-bottom: 0;
			}
		}
		.job-title {
			font-size: 150%;
			margin-top: 0;
			margin-bottom: 10px;
		}
		img {
			@media (min-width: 0) and (max-width: 450px) {
				width: 90%;
				margin: auto;
			}
			@media (min-width: 451) and (max-width: 750px) {
				width: 340px;
				margin: auto;
			}
		}
	}
	.person-block.desktop {
		width: 100%;
		margin: auto 14px;
		padding-bottom: 42px;
		img {
			margin-top: 7px;
		}
	}
}
.clear-filter {
	display:inline-block;
	float: right;
	a {
		color: $seagreen;
	}
}