@import "partials/_vars.scss";

.policiesRow {
  margin-top: 42px;
  margin-bottom: 42px;
  .cta {
		background-color: transparent;
		border: solid $foamgreen 2px;
		text-align: center;
  	display: table;
  }
	.cta.first {
		border-top-left-radius: 14px;
		border-bottom-left-radius: 14px;
	}
	.cta.last {
		border-top-right-radius: 14px;
		border-bottom-right-radius: 14px;
	}
	.cta.both {
		border-radius: 14px;
	}
	.policy {
		height: 99px;
		margin: auto;
		border: 0;
		background-color: transparent;
		vertical-align: middle;
	  font-size: 1.15rem;
	  margin: auto;
    display: table-cell;
    vertical-align: middle;
    a {
    	color: $black;
    }
	}
}
.policy-show {
	margin-top: 14px;
  h2 {
  	margin-top: 0;
  	border-left: 0;
  	padding-left: 0;
  	padding-top: 0;
  }
	.col-3 {
		height: auto;
	}
	.ctaFirst, #accordion {
		border-color: $seagreen;
		background-color: transparent;
		text-align: left;
		height: auto;
		p {
			font-weight: 600;
			color:black;
		}
		.card {
			border: 0;
		}
		.card-title {
			padding: 14px;
			color: $black;
			border-bottom: solid $seagreen 1px;
			background-color: $background-grey;
			text-align: left;
			line-height: 1.75rem;
		}
		.card-header {
			background-color: transparent;
			border: 0;
			border-bottom: solid $seagreen 1px;
			padding: 0;
		}
		a[data-toggle="collapse"] {
			color: $seagreen;
			background-color: $white;
			text-align: left;
			line-height: 1.75rem;	
			display:block;
			padding:7px;
		}
		a[data-toggle="collapse"]:after {
			content: "\f105";
      font-family: "FontAwesome";
      font-size: larger;
    	float: right;
    	padding-right: 7px;
  	}
		a[data-toggle="collapse"]:hover {
			color: $seagreen;
		}
		a[aria-expanded="true"] {
			background-color: $seagreen;
			color: $white;
			margin: 0!important;
			display: block;
		}
		a[aria-expanded="true"]:after {
			content: "\f107";
      font-family: "FontAwesome";
      font-size: larger;
    	float: right;
    	padding-right: 7px;
  	}
		a[aria-expanded="true"]:hover {
			color: $white;
  	}
  	i {
  		padding-top: 7px;
  		padding-right: 10px;
  		float:right;
  	}
		.card-body {
			padding: 7px;
			padding-left: 0;
			text-align: left;
			max-height: 100%;
			li {
				padding: 0 14px 7px 14px;
				white-space: normal;
			}
		}
	}
	
	.ctaLast {
		border-color: $purple;
		background-color: transparent;
		text-align: left;
		max-height: 210px;
		height: auto;
		.card-title {
			padding: 10px;
			color: $black;
			border-bottom: solid $purple 1px;
			background-color: $purple-complement;
			text-align: left;
			padding-left: 21px;
			line-height: 1.75rem;
		}
		.card-body {
			padding: 7px;
			text-align: left;
			max-height: 100%;
		}
	}
	.ctaLast.effective {
		border-color: $purple;
		.card-title {
			border-color: $purple;
			background-color: $purple-complement;
		}
	}
	.ctaLast.expires {
		border-color: $seagreen;
		display: block;
		margin-top: 14px;
		.card-title {
			border-color: $seagreen;
			background-color: $seagreen-complement;
		}
	}
}

.responsive {
	.policies-info {
		.policy {
			margin:auto;
		  margin-top: 42px;
		  margin-bottom: 42px;
		  padding: 14px 0 14px 0;
			background-color: $foamgreen;
			max-width: 90%;
			width: 90%;
			height:auto;
			min-height: 70px;
			font-size: 175%;
			a {
				color: $white;
			}
		}
	}
}
