@import "partials/_vars.scss";

.service-show {
	margin-top: 35px;
}

.leftside-index {
  font-family: "Roboto";
  font-weight: 400;
	width: 85%;
	@media (max-width: 950px) {
		width: 100%;
		border-bottom: solid $white 4px;
	}
	h2 {
		background-color: $royal-blue;
		padding: 12px;
    margin-bottom: 21px;
    a {
      color: $white;
    }
	}
	ul {
		padding-bottom: 21px;
    border-bottom: solid $new-gold 2px;
	}
	li {
		padding: 14px;
		line-height: 1.25rem;
	}
	li a {
		color: $black;
		display: inline-block;
		font-size: 1.1rem;
	}
	li.selected {
		a {
			color: $seagreen;
			font-weight: 700;
		}
	}
	li:nth-child(odd) {
		background-color: $lightest-grey;
	}
}

@media (max-width: 950px) {    /* Firefox fix */
	.leftside-index:last-child {
		border-bottom: 0;
	}
}

.rightside-service {
	padding-right: 4px;
	.entity-help {
		padding-left: 0;
		border: solid $seagreen 1px;
		border-radius: 7px;
		padding: 14px;
		overflow-wrap: break-word;
		ul {
			padding-left: 0;
		}
		@media (max-width: 950px) {
			width: 95%;
		}
	}
}
