@import "partials/_vars.scss";

.space-show {
	margin-top: 35px;
	img.location {
		height:35px;
		width:35px;
		opacity: .5;
	}
	h1.page-title {
		margin-top: 0;
	}
	.details {
		h2 {
			margin-top: 21px;
		}
		.description {
			margin-top: 35px;
		}
	}
	.hours-widget {
		margin-top: 35px;
		hr {
			margin-bottom: 35px;
		}
	}
	.rightside-space {
		padding-right: 4px;
		@media (max-width: 950px) {
			margin-top: 21px;
		}
	}
}