@import "partials/_vars.scss";

.spacesRow {
	margin-left: 77px;
	margin-right: 77px;
	margin-bottom: 35px;
 	.ctaTwo .related_space {
 		text-align: center;
		border: solid $purple 2px;
		border-radius: 14px;
 		background-color: $white;
 		color: $black;
 		overflow: hidden;
 		display:inline-block;
    padding: 0;
    margin-top: 35px;
    line-height: 100px;
    width: 200px;
    height: 190px;
 		img {
 			object-fit: cover;
 			min-height: 100%;
 		}
 	}
 	.card-body {
 		padding-top: 7px;
 		width: 100%;
 		text-align: center;
 	}
 }
