@import "partials/_vars.scss";

.servicesRow {
  margin-top: 63px;
  .cta {
		background-color: $seagreen-complement;
		border: solid $seagreen 1px;
		text-align: center;
  }
	.cta.first {
		border-top-left-radius: 42px;
		border-bottom-left-radius: 42px;
	}
	.cta.last {
		border-top-right-radius: 42px;
		border-bottom-right-radius: 42px;
	}
	.cta.both {
		border-radius: 42px;
	}
	.service {
		height: 99px;
		margin: auto;
		border: 0;
		background-color: transparent;
		vertical-align: middle;
	  font-size: 2rem;
	  margin: auto;
	}
}
