<p>The University Libraries are occasionally approached by students or external filmmakers interested in using the library as a site for filming. Filming presents potential for disruption of the study environment and therefore the Libraries observe the following procedure to review and approve or deny filming requests.</p>
<h2>Procedure:</h2>
<p>Individuals seeking permission to use any Temple University Libraries’ facilities as the location for filming will complete the form below. The office of the Dean of Libraries will review requests and will ordinarily be fielded by the AUL for Research &amp; Instructional Services or in his absence by the Senior AUL or the next available member of the Library Executive group.</p>
<h2>Review Criteria:</h2>
<p>Generally we attempt to support filming by Temple students undertaken to fulfill curricular requirements. We do require advance request and approval of same, and need to ensure that there will be no adverse consequences in terms of noise or other disruption to the study environment.</p>
<p>While we will consider requests from external groups, there are additional concerns since external non-student productions are often larger, more elaborate and potentially disruptive in a variety of ways. External groups may also entail liability issues, building entry issues, etc.</p>
<h2>What You Need to Know:</h2>
<p>Those seeking permission to film onsite in any Temple University Libraries’ facility must take all of the following concerns into account in planning filming activity:</p>
<ul>
	<li>Avoid significant disruption of student environment and be confined in terms of duration, volume of noise, location in building</li>
	<li>Respect privacy of researchers in the vicinity</li>
	<li>No special security concerns (e.g., after hours) or entry/exit by dock through SCRC</li>
	<li>No rearrangement of equipment or collections or if there is rearrangement, the filmmaker will restore furniture etc., to original arrangement and appearance immediately upon conclusion of filming.</li>
	<li>Any and all trash and recycling generated in the course of filming will be properly disposed of in appropriate receptacles or removed from the building.</li>
	<li>Content: the message or import of the film being made (not just the segment being filming in the library) will not reflect poorly on Temple University, libraries in general, etc</li>
	<li>Content: the message or import of the film will not have political endorsements.</li>
	<li>Content: the film will not advocate explicitly or implicitly poor library or archival preservation or use practice.</li>
	<li>Special Collections: Special Collections (Special Collections Research Center and the Charles L. Blockson Afro American Collection): Generally we support filming that makes appropriate use of special collections, for example in documentary films. Individuals and organizations should contact the staff responsible for the custody and preservation of the materials in question in order to specify appropriate conditions, location, handling, timing, etc., that will not adversely affect the materials. Appropriate attribution is required and compensation is sometimes also required.</li>
	<li>Need for clear contact line with person in charge of the film crew in case of problems.</li>
</ul>
<h2>Additional Review of External Requests by University Administration:</h2>
<p>External (non-student) Groups after initial screening as to above issues, must still be referred to University Communications (Ray Betzner1-8564) the office that will coordinate with Risk Management and University Counsel for University approval, verification of liability insurance etc.,</p>
<h2>Approval and Notification:</h2>
<p>When filming is approved, either by the Library administration for a student film, or by University Communications ( Ray Betzner) and Counsel for external non-student groups, the details (location, date and time, and contact information) are communicated to the Libraries’ public services staff so that our personnel on duty on the appointed day are aware of the filming activity.</p>
<p>The filmmaker will be instructed to “check in” at the Paley Reference Desk, or other appropriate service desk if this is occurring in another library venue, by presenting a copy of the approving email when he or she arrives to initiate filming.</p>
<p>The filmmaker will also be asked to “check-out” at conclusion of filming.</p>
