<div class="page-search-container text-center container">
	<form action=<%= t("manifold.default.alternate_search_url") %> id=<%= "#{@search_mode}#{view}-search-form" %>>
		<label for="librarySearch" class="visuallyhidden"><%= t("manifold.header.search.everything") %></label>
	  <input type="text" class="text-left" name="query" id="librarySearch" placeholder="<%= t("manifold.default.search_everything") %>" autocomplete="off" />
	  <input type="submit" value = "" aria-label="submit search query">
	  <input type="hidden" name="tab" id="tab" value="default_tab">
	  <input type="hidden" name="search_scope" id="search_scope" value="default_scope">
	  <input type="hidden" name="vid" id="vid" value="TULI">
	</form>
</div>
