<% @categories.each do |category| %>
  <div class="leftside-index">
    <% unless @categories.size > 1 %>
      <div class="index-category">
    <% else %>
      <div class="d-none d-lg-block index-category">
    <% end %>
        <h2><%= link_to category.name, category %></h2>
      </div>

    <div class="index-items">
      <div>
        <ul class="list-unstyled">
        <% list_item(category).each do |link| %>
          <%= link.html_safe %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
    