<% unless @category.items.blank? %>
<div class="row d-block d-md-block d-lg-none" id="secondary-mobile-nav">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button id="mobile-menu-button" class="navbar-toggler icon-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#secondary-mobile-menu" aria-controls="secondary-mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" id="sub-toggler-icon">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </span>
      <span id="mobile-navbar-brand" class="navbar-brand">
        <%= @category.name.html_safe %>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="secondary-mobile-menu">
      <div class="navbar-nav"> 
         <%= render "category_items" %>
      </div>
    </div>
  </nav>
</div>
<% end %>
