<div class="row covid-alert">
  <div class="col-12 text-center">
    <strong><%= t("manifold.default.covid_alert") %></strong>
    <span class="px-2 pb-3">|</span> <%= @covid_alert.first.scroll_text %>
  </div>
</div>
<div class="row covid-detail">
  <div class="col-12 detail-1">&nbsp;</div>
  <div class="col-12 detail-2">&nbsp;</div>
</div>
