<div id="site-footer" class="">
  <div class="container">
  <div class="row social">
    <div class="col-7">
      <%= link_to "Donate to the Libraries", "#", class: 'donate' %>
    </div>
    <div class="col-5 text-right">
      <ul>
        <li class="social-footer instagram">
          <%= link_to image_tag('instagram-logo_white.svg'), 'http://instagram.com/tulibraries' %>
        </li>
        <li class="social-footer facebook">
          <%= link_to image_tag('facebook-logo_white.svg'), 'https://www.facebook.com/pages/Temple-University-Libraries/6340283058' %>
        </li>
        <li class="social-footer twitter">
          <%= link_to image_tag('twitter-logo_white.svg'), 'http://twitter.com/TempleLibraries' %>
        </li>
      </ul>
    </div>
  </div>

      
      <div class="tu-links">    

          

          <div class="row">
            <div class="col-6 px-0">
              <div class="row">
                <div class="col px-0">
                  <h2>Quick Links</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 px-0">
                  <ul class="list-unstyled">
                    <li>EZ-borrow</li>
                    <li>Jobs</li>
                    <li>Privacy Guidelines</li>
                  </ul>
                </div>
                <div class="col-lg-4 px-0">
                  <ul class="list-unstyled">
                    <li>ILLiad</li>
                    <li>Publications</li>
                    <li>Virtual Reference Services</li>
                  </ul>
                </div>
                <div class="col-lg-4 px-0">
                  <ul class="list-unstyled">
                    <li>RefWorks</li>
                    <li>Community Standards</li>
                    <li>Diversity Statement</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-6 px-0">
              <div class="row">
                <div class="col-4 offset-8 px-0">
                  <p>
                  Temple University Libraries<br />
                  1210 Pollett Walk<br />
                  Philadelphia, PA 19122<br />
                  (215) 204-3836
                  </p>
                  <p>Frequently Called Numbers</p>
                  <p>Staff Directory</p>
                </div>
              </div>
            </div>
        </div>
      </div>

<!-- float right -->


</div>
</div>