  <div id="header-navbar" class="navbar navbar-static-top" role="navigation">
    <div class="col">
      <div class="container navbar-header">
        <div class="row">
          <div class="col col-med-1">
            <%= link_to image_tag('NewCherryLogo.jpg', alt: 'Temple University Libraries', class: 'site-title'), root_path %> 
          </div>
          <div class="navbar-right col col-med-11">
            <ul> 
              <li>
                <a href="/">link 1</a>
              </li>
              <li>|</li>
              <li>
                <a href="/">link 2</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


<div id="wrapper">

  <div id="header" class="row">
    <div class="col">
      <% if @alert %>
      <div class="container">
        <div class="row">   
          <div class="col-md-12">
            <marquee>
              <% unless @alert.link.blank? %>
                <%= link_to @alert.scroll_text+", click here to see full details...", @alert.link %>
              <% else %>
                <%= link_to @alert.scroll_text+", click here to see full details...", alerts_path, id: @alert.id %>
              <% end %>
            </marquee>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div> <!-- #header -->

    

