  <div id="header-navbar" class="navbar navbar-static-top" role="navigation">
    <div class="col">
      <div class="navbar-header">
        <div class="row">
          <div class="col col-md-1">
            <%= link_to root_path, class: "header-name", id: "header-logo" do %>
              <%= image_tag('temple-logo-t-box.svg', class: "header-logo") %> University Libraries
            <% end %>
          </div>
          <div class="navbar-right col col-md-11">
            <ul> 
              <li>
                <a href="/">About</a>
              </li>
   
              <li>
                <a href="/">Research</a>
              </li>
              <li>
                <a href="/">Services</a>
              </li>

              <li>
                <a href="/">Chat</a>
              </li>
              <li>
                <a href="/">My Account</a>
              </li>
              <li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


<div id="wrapper">

  <div id="header" class="row">
    <div class="col">
      <div class="container">
        <div class="row">
          
          <div class="col-md-8">
            <!-- navigation links -->
          </div>

          <div class="col-md-4">
            <!-- search bar? -->
          </div>
        </div>

      </div>

    </div>
  </div> <!-- #header -->

  <div id="seagreen"></div>

    

