  <div id="header-navbar" class="navbar navbar-static-top" role="navigation">
    <div class="col">
      <div class="navbar-header">
        <div class="row">
          <div class="col col-md-1">
            <%= link_to root_path, class: "header-name", id: "header-logo" do %>
              <%= image_tag('temple-logo-t-box.svg', class: "header-logo") %> University Libraries
            <% end %>
          </div>
          <div class="navbar-right col col-md-11">
            <ul class="d-none d-xl-block"> 
              <li>
                <a href="/">About</a>
              </li>
   
              <li>
                <a href="/">Research</a>
              </li>
              <li>
                <a href="/">Services</a>
              </li>

              <li>
                <a href="/">Chat</a>
              </li>
              <li>
                <a href="/">My Account</a>
              </li>
              <li>
            </ul>
            <div class="d-block d-xl-none" id="burger" onclick="myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
            <ul class="d-none" id="main-menu"> 
              <li>
                <a href="/">About</a>
              </li>
   
              <li>
                <a href="/">Research</a>
              </li>
              <li>
                <a href="/">Services</a>
              </li>

              <li>
                <a href="/">Chat</a>
              </li>
              <li>
                <a href="/">My Account</a>
              </li>
              <li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="wrapper">

  <div id="header" class="row">
    <div class="col">
      <% unless @alert.blank? %>
      <div class="container">
        <div class="row">   
          <div class="col-md-12">
            <marquee>
              <% @alert.each do |alert| %>
                <% unless alert.link.blank? %>
                  <%= link_to alert.scroll_text+", click here to see full details...", alert.link %>
                <% else %>
                  <%= link_to alert.scroll_text+", click here to see full details...", alerts_path, id: alert.id %>
                <% end %>
              <% end %>
            </marquee>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div> <!-- #header -->

<div class="row" id="seagreen">
  <div id="searchFields">
    <form action="https://librarysearch.temple.edu/bento">
      <span class="fa fa-search"></span>
      <input type="text" name="q" id="librarySearch" placeholder="Search for library materials" autocomplete="off" style="border: solid #1f9584 1px !important" />
    </form>
  </div>
</div>