<div class="main-search-container">
	<form action="https://librarysearch.temple.edu/bento">
	  <input type="text" name="q" id="librarySearch" placeholder="Search everything" autocomplete="off" />
	  <input type="submit" value = "">
	</form>
	<ul class="text-left">
	  <li><%= link_to "Books", "#" %></li>
	  <li><%= link_to "Articles", "#" %></li>
	  <li><%= link_to "Databases", "#" %></li>
	</ul>
</div>
