<div class="col-4">

  <li>
    <h2 style="margin-top:.5rem;">
      <%= link_to item.label, item, style: "text-decoration: underline;font-size:large" %>
    </h2>
  </li>

  <%= sanitize get_item_list(item).html_safe %>

</div>
