<div class="leftside-index">
  <div class="index-items">
    <ul class="list-unstyled">
      <% @nav_items.sort_by{|e| e.label}.each do |c| %>
        <li>
          <%= link_to c.label, url_for(c) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
