<div class="leftside-index">
  <div class="index-items">
    <ul class="list-unstyled">
      <% @nav_items.flatten.uniq.sort_by{|e| e.label}.each do |c| %>
        <% unless c.class.to_s == "Category" %>
        <li>
          <%= link_to c.label, url_for(c) %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
