<div class="leftside-index">
  <div class="index-items">
    <ul class="list-unstyled">
    	<% @categories.each do |category| %>
        <% list_item(category).each do |link| %>
          <%= link.html_safe %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
