<nav class="navbar navbar-expand-lg navbar-dark">

  <div class="collapse navbar-collapse" id="mobile-search">     
    <!-- <div class="padding"></div> -->
    <div class="navbar-nav">
      <form action="https://librarysearch.temple.edu/bento" class="mobile">
        <input type="text" name="q" id="librarySearch" class="mobile" placeholder="Search everything" autocomplete="off" style="border: solid #1f9584 1px !important" />
        <input type="submit" class="mobile" value = "">
      </form>
      <ul class="text-center">
        <li><%= link_to "Books", "#" %></li>
        <li><%= link_to "Articles", "#" %></li>
        <li><%= link_to "Databases", "#" %></li>
      </ul>
    </div>
  </div>

</nav>