  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" onclick="toggle(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </span>
      <span class="navbar-brand"> Main Menu</span>
    </button>
    <div class="collapse navbar-collapse" id="mobile-menu">     
      <!-- <div class="padding"></div> -->
      <div class="navbar-nav">
        <div class="row">
          <div class="col">
            <a href="/">About</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="/">Visit & Study</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="/">Research Services</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="/">Contact Us</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= image_tag "person.png", class: "person-icon" %> <a href="/">My Account</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= image_tag "chat.png", class: "chat-icon" %> <a href="/">Chat</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= image_tag "hours.png", class: "hours-icon" %> <a href="/">Hours</a>
          </div>
        </div>
      </div>
    </div>

  </nav>