<div class="page-search-container text-center container">
	<form action="https://temple-primo.hosted.exlibrisgroup.com/primo-explore/search" id="<%= "#{view}-search-form" %>" >
		<label for="librarySearch" class="visuallyhidden"><%= t("manifold.header.search.everything") %></label>
	  <input type="text" class="text-left" name="query" id="librarySearch" placeholder="<%= t("manifold.default.search_everything") %>" autocomplete="off" />
	  <input type="submit" value = "" aria-label="submit search query">
	  <input type="hidden" name="search_field" id="search_field" value="all">
    <input type="hidden" name="tab" id="tab" value="default_tab">
    <input type="hidden" name="search_scope" id="search_scope" value="default_scope">
    <input type="hidden" name="vid" id="vid" value="TULI">
    <input type="hidden" name="offset" id="offset" value="0">
	</form>
</div>
