<div class="page-search-container text-center container">
	<form action="https://librarysearch.temple.edu/bento">
		<!--
	  <input type="text" name="q" id="librarySearch" placeholder="Search for books, articles, and library services and staff" autocomplete="off" />
		-->
	  <input type="text" class="text-left" name="q" id="librarySearch" placeholder="Search everything" autocomplete="off" />
	  <input type="submit" value = "">
	</form>
</div>
