<div class="page-search-container text-center container-lg">
	<form action=<%= "#{librarysearch_url("everything")}" %> id="<%= "#{@search_mode}#{view}-search-form" %>" >
		<label for="librarySearch" class="visuallyhidden"><%= t("manifold.header.search.everything") %></label>
	  <input type="text" class="text-start" name="q" id="librarySearch" placeholder="<%= t("manifold.default.search_everything") %>" autocomplete="off" />
	  <input type="submit" value = "" aria-label="submit search query">
	  <input type="hidden" name="search_field" id="search_field" value="all">
	</form>
</div>
