
<div class="col-4">
<li><h2 id="ql">Quick Links</h2></li>
	<ul class="list-unstyled">
		<li><%= link_to t("manifold.footer.ezborrow_link"), "/ezborrow", style: "color:black"  %></li>
		<li><%= link_to t("manifold.footer.illiad_link"), "/illiad", style: "color:black" %></li>
		<li><%= link_to t("manifold.footer.primo_articles"), "/find-by-citation", style: "color:black" %></li>
		<li><%= link_to t("manifold.footer.accessibility_link"), category_path("accessibility-services"), style: "color:black" %></li>
	</ul>
</div>