<% content_for :body_class, "home" %>

<div class="container text-center">
  <div id="dateTime">
    <div id="date">
      FRIDAY, AUGUST 17, 2018
    </div>
    <div id="time">
      Paley Library | 8am - 7pm
    </div>
    <div id="allHours">
      <%= link_to "See all library hours", hours_path %> >
    </div>
  </div>
</div>