<% content_for :body_class, "home" %>

<div class="bottom-wrapper">
<div id="dateTime">
  <div id="date">
    <%= @todays_date %>
  </div>
  <div class="row" style="margin: 0;">
    <div id="time">
      Charles Library | 8am - 7pm
    </div>
    <div id="allHours">
      <%= link_to "See all library hours >", hours_path %>
    </div>
  </div>
</div>
</div>