<div id="searchFields" class="building-show" style="top: -21px;">
  <form>
    <input type="text" name="q" id="librarySearch" placeholder="Search for library materials" autocomplete="off" />
  </form>
  <div id="searchOptions">
    <ul>
      <li>Everything</li>
      <li>Books</li>
      <li>Articles</li>
      <li>Databases</li>
    </ul>
    <div id="advancedSearchLink">
      Advanced Search
    </div>
  </div>
</div>