<div id="searchFields" class="building-show" style="top: -21px;">
  <form action="https://librarysearch.temple.edu/bento">
    <input type="text" name="q" id="librarySearch" placeholder="Search for library materials" autocomplete="off" style="border: solid #1f9584 1px !important" />
  </form>
</div>