<h2><%= t("manifold.header.todays_hours") %></h2>
<strong>
  <%= t("manifold.header.todays_hours_text", hours: @todays_hours.hours) unless @todays_hours.nil? %>
</strong>
<br />
<%= link_to t("manifold.header.all_hours"), hours_path %> >
