<h2>
  <a style="cursor:pointer" data-toggle="collapse" data-target="#staff-type" aria-expanded="true" aria-controls="staff-type">
    <%= t("manifold.people.filters.staff_type") %>
  </a>
</h2>

<ul class="list-unstyled navbar-collapse collapse show" id="staff-type">
<% if params[:specialists] %>
  <li class="active">
    <%= t("manifold.people.filters.limited_to_specialists") %>
    <span class="clear-filter">
      <%= link_to "X", people_path(request.query_parameters.except(:specialists).merge({page: 1})) %>
    </span>
  </li>
<% else %>
  <li>
    <%= link_to t("manifold.people.filters.limit_to_specialists"), people_path(request.query_parameters.merge({specialists: true, page: 1})) %>
  </li>
<% end %>
</ul>
