<h2>
  <a style="cursor:pointer" data-toggle="collapse" data-target="#subjects" aria-expanded="<%= @subjects.blank? ? 'false' : 'true' %>" aria-controls="subjects">
    <%= t("manifold.people.specialties") %>
  </a>
</h2>

<ul class="list-unstyled navbar-collapse collapse" id="subjects">
<% unless @subjects.nil? %>
  <% @subjects.each do |subject| %>
    <li>
      <%= link_to subject, people_path(request.query_parameters.merge({specialty: subject, page: 1})) %>
    </li>
  <% end %>
<% end %>
</ul>
