<p>This form should be used by applicants not currently enrolled in a Temple University graduate degree program.</p>

<p><strong>Program Requirements</strong>:</p>

<p>Students must take nine credits of course work and a one-credit Cultural Analytics Practicum to complete the Certificate. The introductory course surveys the range of methods. Students then select two electives in the focal area needed for their own research interests. Finally, students complete a project of their own design in the Practicum, a semester-long workshop offered by the Scholars Studio of Temple University Libraries. Students in the Practicum must also sign up for a one-credit independent study with a faculty member who can serve as an academic advisor on their project.</p>

<p>In addition to completing and submitting this form, students must have earned a B.A./B.S. or equivalent. Please arrange for official transcripts for all coursework since high school to be sent to our program administrator: Marianne Moll at <%= mail_to "marianne.moll@temple.edu" %>.</p>

<p>Applications must be received by August 1 to be eligible for admission beginning in the Fall semester. Once you complete the form below and all supporting materials have been received you will be contacted by the CAC Program Director. If you have any questions about the certificate program, please contact Adrienne Shaw at <%= mail_to "adrienne.shaw@temple.edu" %>.</p>