name: "Lint and Test"

permissions:
  contents: read

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RAILS_ENV: test

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        ruby: [ "3.4" ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run RuboCop
        run: bundle exec rubocop
      
  test:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
          ruby: ["3.4"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install ImageMagick (for MiniMagick/variants)
        run: |
          sudo apt-get update
          sudo apt-get install -y imagemagick

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Precompile Rails assets
        run: |
          bundle exec rails assets:precompile
    
      - name: Setup Postgres
        uses: ikalnytskyi/action-setup-postgres@v7
        with:
          username: manifold
          password: password
          database: manifold_test

      - name: Prepare test database
        run: bundle exec rails db:schema:load

      - name: Run rspec tests
        run: bundle exec rspec spec

      - name: Upload coverage to Coveralls
        uses: coverallsapp/github-action@v2
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage/lcov/app.lcov
