<p>Spouses/partners of current Temple University faculty and staff members may apply for a library borrowing card that will allow them to borrow up to ten items at a time and 2-hour use of the guest computers on the ground floor of the Tuttleman Learning Center.</p>

<p>The spouse/partner borrowing card does not allow for off-site access to databases as the University Libraries contracts with database vendors prohibit this. Once your application is received, and your status is confirmed, it may take up to two weeks for you to receive your card in the mail.</p>

<p>To begin this process, the sponsoring faculty/staff member must fill out the below form and submit for approval.</p>

<p>You may contact the Circulation/Reserve Unit of Paley Library at 215-204-8212 if you have any questions.</p>