<div class="leftside-index">
  <div class="index-category d-none d-lg-block">
    <h2>Policies & Guidelines</h2>
  </div>

  <div class="index-items">
    <ul class="list-unstyled" style="margin-top:10px;">
      <% @policies.each do |policy| %>
          <li><%= link_to policy.label, policy_path(policy) %></li>
      <% end %>
    </ul>
  </div>

</div>
