<%= render "policies-menu-secondary" %>

<div class="container policy-show">
	
	<div class="row">
		<div class="col-lg-3 d-none d-lg-block">
	    <%= render "all_policies" %>
	  </div>
  
  	<div class="col-12 col-lg-9">
	    <h1 class="unstyled"><%= @policy.name %></h1>
	    <%= sanitize @policy.description.html_safe %>
	  </div>
	</div>

</div>
